<template>
  <view class="shopcar-empty">
    <view class="shopcar-empty-chil">
      <view class="shopcar-empty-chil-item">
        <text>您暂时还没有商品</text>
      </view>
    </view>
  </view>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.shopcar-empty {
  width: 100%;
  height: 100%;
  .shopcar-empty-chil {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
