<template>
  <view class="Address_Wrap">
    <view class="Adr_Wrap">
      <view class="Adr_view" v-for="(item, index) in list" :key="index">
        <view class="Left_Box">
          <view class="Adr_top">
            <text class="top_text">{{ item.receiver }}</text
            ><text>{{ item.mobile }}</text>
          </view>
          <view class="Adr_zhong">
            <text class="zhong_text"
              >{{ item.province }}{{ item.city }}{{ item.area
              }}{{ item.addr }}</text
            >
          </view>
          <view class="Adr_bottom">
            <p>
              <label class="radio"
                ><radio
                  :checked="index === checkInd ? true : false"
                  :name="item.addrId"
                  @click="check_Btn(item.addrId, index)"
                />设置默认地址</label
              >
            </p>
          </view>
        </view>
        <view class="Right_Box"
          ><view class="icon_box">
            <uni-icons
              class="icon"
              type="compose"
              size="30"
              @click="go_Edit(item.addrId)"
            ></uni-icons>
          </view>
        </view>
      </view>
    </view>
    <view class="add_box">
      <button @click="go_Add" class="add_btn">新建添加地址</button>
    </view>
  </view>
</template>
<script>
import { _Get_Address, _Check_Address } from "../../services/My";
export default {
  data() {
    return {
      list: [],
      name: 1,
      actions: 0,
      checkInd: 0,
      addrId: uni.getStorageSync("addrId") || "",
    };
  },
  onLoad() {
    this.get_list();
  },
  methods: {
    go_Edit(id) {
      uni.navigateTo({
        url: `/pages/EditAddress/index?addrId=${id}`,
      });
    },
    go_Add() {
      uni.navigateTo({
        url: "/pages/AddAddress/index",
      });
    },
    async get_list() {
      const res = await _Get_Address();
      this.list = res;
    },
    checkboxChange: function (e) {
      var items = this.items,
        values = e.detail.value;
      for (var i = 0, lenI = items.length; i < lenI; ++i) {
        const item = items[i];
        if (values.includes(item.value)) {
          this.$set(item, "checked", true);
        } else {
          this.$set(item, "checked", false);
        }
      }
    },
    check_Btn(addrId,indexs) {
      const result = _Check_Address(addrId);
      this.checkInd = indexs;
      this.addrId = addrId;
    },
  },
};
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
  background: #eee;
}

.Address_Wrap {
  width: 100%;
  height: 100%;
}

.Adr_Wrap {
  width: 100%;
  height: 90%;
  background: #eee;
}
.top_text {
  margin-left: 15px;
}
.add_box {
  width: 100%;
  height: 10%;
  background: pink;
}
.Adr_zhong {
  font-size: 12px;
  color: rgb(170, 154, 154);
  line-height: 30px;
}
.zhong_text {
  margin-left: 15px;
}
.add_btn {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  color: red;
  font-size: 15px;
  line-height: 48px;
}
.check_Box {
  transform: scale(1.5);
  color: #ff0000 !important;
}
.check_Box text {
  padding-left: 20px;
}
.Adr_view {
  width: 100%;
  height: 90px;
  background: #fff;
  margin-top: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.Adr_bottom {
  margin-top: 10px;
}
.Right_Box {
  width: 60px;
  height: 100%;
}
.Left_Box {
  flex: 1;
}

.icon_box {
  margin-top: 15%;
}
.icon {
  margin-left: 30%;
}
.radio {
  margin-left: 15px;
}
</style>
