<template>
  <view class="index">
    <view class="header">
      <view class="search"
        ><img src="./icon/search.png" alt="" /><input
          type="text"
          placeholder="搜索"
          @click="search"
      /></view>
    </view>
    <view class="swiper">
      <view class="uni-margin-wrap">
        <swiper
          class="swiper"
          circular
          :indicator-dots="indicatorDots"
          :autoplay="autoplay"
          :interval="interval"
          :duration="duration"
          previous-margin="15px"
          next-margin="15px"
          indicator-color="white"
          indicator-active-color="blue"
        >
          <swiper-item v-for="(item, index) in imgList" :key="index">
            <view class="swiper-item">
              <image :src="item.imgUrl" alt="" class="swiper_img"></image>
            </view>
          </swiper-item>
        </swiper>
      </view>
    </view>
    <view class="new_push">
      <ul>
        <li @click="new_product">
          <dl>
            <dt>
              <img src="./icon/newProd.png" alt="" />
            </dt>
            <dd>新品推荐</dd>
          </dl>
        </li>
        <li @click="limitedT">
          <dl>
            <dt>
              <img src="./icon/timePrice.png" alt="" />
            </dt>
            <dd>限时特惠</dd>
          </dl>
        </li>
        <li @click="dayCrazy">
          <dl>
            <dt>
              <img src="./icon/neweveryday.png" alt="" />
            </dt>
            <dd>每日疯抢</dd>
          </dl>
        </li>
        <li @click="coupon">
          <dl>
            <dt>
              <img src="./icon/newprods.png" alt="" />
            </dt>
            <dd>领劵优惠</dd>
          </dl>
        </li>
      </ul>
    </view>
    <view class="notice">
      <li @click="article">
        <span><img src="./icon/horn.png" alt="" /></span>
        <view class="z-swiper">
          <view class="zong-swiper">
            <swiper
              class="swiper"
              circular
              :autoplay="autoplay"
              :interval="interval"
              :duration="duration"
              vertical="true"
            >
              <swiper-item v-for="(item, index) in notice" :key="index">
                <view class="s-w"
                  >{{ item.title }} <img src="./icon/more.png" alt=""
                /></view>
              </swiper-item>
            </swiper>
          </view>
        </view>
      </li>
    </view>
    <view class="day_new">
      <h3>每日上新</h3>
      <!-- <button class="more">查看更多</button> -->
      <view class="list">
        <ul>
          <li v-for="(item, index) in list1" :key="index" @click="dian(item)">
            <dl>
              <dt>
                <image
                  :src="item.pic"
                  alt=""
                  @error="imgerror($event, index)"
                ></image>
              </dt>
              <dd>
                <p class="day_title">{{ item.prodName }}</p>
                <p class="day_jt">{{ item.brief }}</p>
                <p class="day_price">
                  <span>￥{{ item.price }}</span
                  ><uni-icons type="cart" size="30" class="cart"></uni-icons>
                </p>
              </dd>
            </dl>
          </li>
        </ul>
      </view>
    </view>
    <view class="hot_sale">
      <h3>
        商品热卖<span>更多<img src="./icon/more.png" alt="" /></span>
      </h3>
      <view class="list2">
        <ul>
          <li v-for="(item, index) in list2" :key="index" @click="dian(item)">
            <dl>
              <dt><image :src="item.pic" alt=""  @error="imgerror($event, index)"></image></dt>
              <dd>{{ item.prodName }}</dd>
              <dd class="color">
                <span>￥{{ item.price }}</span
                ><uni-icons type="cart" size="30"></uni-icons>
              </dd>
            </dl>
          </li>
        </ul>
      </view>
    </view>
    <view class="more_baby">
      <h3>
        更多宝贝<span>更多<img src="./icon/more.png" alt="" /></span>
      </h3>
      <view class="list3">
        <ul>
          <li v-for="(item, index) in list3" :key="index" @click="dian(item)">
            <dl>
              <dt><image :src="item.pic" alt=""  @error="imgerror($event, index)"></image></dt>
              <dd>{{ item.prodName }}</dd>
              <dd class="color">
                <span>￥{{ item.price }}</span>
                <uni-icons type="cart" size="30"></uni-icons>
              </dd>
            </dl>
          </li>
        </ul>
      </view>
    </view>
  </view>
  <!-- </view> -->
</template>

<script>
import {
  swiper_img,
  notice_list,
  new_product,
  getIndexList,
  foodClassify
} from "@/services/index.js";
import "./index.scss";
export default {
  data() {
    return {
      indicatorDots: true,
      autoplay: true,
      vertical: true,
      interval: 2000,
      duration: 500,
      imgList: [],
      notice: [],
      list1: [],
      list2: [],
      list3: [],
      tagId1: 1,
      tagId2: 2,
      tagId3: 3,
      current: 1,
      size: 10,
      classifyList:[],
    };
  },
  onLoad() {
    this.getSwiperList();
    this.getNotice(), this.getList();
  },
  computed: {},
  methods: {
    //点击跳转详情
    dian(item) {
      this.$goPage({
        url: "/pages/detail/index",
        redirect: false,
        query: {
          prodId: item.prodId,
        },
      });
    },
    changeIndicatorDots(e) {
      this.indicatorDots = !this.indicatorDots;
    },
    changeAutoplay(e) {
      this.autoplay = !this.autoplay;
    },
    intervalChange(e) {
      this.interval = e.target.value;
    },
    durationChange(e) {
      this.duration = e.target.value;
    },
    async getSwiperList() {
      const res = await swiper_img();
      this.imgList = res;
    },
    async getNotice() {
      uni.connectSocket({
        // url: "wss://www.example.com/socket",
        url: "https://bjwz.bwie.com/mall4j",
      });
      uni.onSocketOpen(function (res) {
        console.log(res, "WebSocket连接已打开！");
      });
      const res = await notice_list();
      this.notice = res;
    },
    async classifyList(){
      const res=await foodClassify()
      this.classifyList=res;
    },
    async getList() {
      const res1 = await getIndexList({
        tagId: 1,
        current: this.current,
        size: this.size,
      });
      this.list1 = res1.records;
      const res2= await getIndexList({
        tagId:2,
        current: this.current,
        size: this.size,
      });
      this.list2=res2.records;
       const res3= await getIndexList({
        tagId:3,
        current: this.current,
        size: this.size,
      });
      this.list3=res3.records;
    },
    new_product() {
      uni.navigateTo({
        url: "/pages/newProduct/index",
      });
    },
    limitedT() {
      uni.navigateTo({
        url: "/pages/limitedT/index",
      });
    },
    dayCrazy() {
      uni.navigateTo({
        url: "/pages/dayCrazy/index",
      });
    },
    coupon() {
      uni.navigateTo({
        url: "/pages/coupon/index",
      });
    },
    article() {
      uni.navigateTo({
        url: "/pages/notice/index",
      });
    },
    //详情页面的跳转
    // detail(id) {
    //   uni.navigateTo({
    //     url: "/pages/detail/index",
    //     query: {
    //       prodId: id,
    //     },
    //   });
    // },
    detail(id) {
      uni.navigateTo({
        url: "/pages/detail/index?id=" + id,
      });
    },
    search() {
      uni.navigateTo({
        url: "/pages/search/index",
      });
    },
    imgerror(e, index) {
      if (this.list1.length > 0) {
        this.list1[index].pic = "../../static/coupon-ot.png";
      }
       if (this.list2.length > 0) {
        this.list2[index].pic = "../../static/coupon-ot.png";
      }
       if (this.list3.length > 0) {
        this.list3[index].pic = "../../static/coupon-ot.png";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>