.index {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.index .header {
  width: 100%;
  height: 60rpx;
  margin-top: 20rpx;
}

.index .header .search {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
}

.index .header .search img {
  height: 36rpx;
  width: 36rpx;
  position: absolute;
  left: 300rpx;
  top: 30rpx;
  z-index: 2;
}

.index .header input {
  height: 60rpx;
  background: #f7f7f7;
  width: 90%;
  margin: 0px 40rpx;
  border-radius: 40rpx 40rpx;
  text-align: center;
  font-size: 24rpx;
  color: #ccc;
}

.index .swiper {
  height: 400rpx;
  width: 100%;
  margin-top: 16rpx;
}

.index .swiper .uni-margin-wrap {
  width: 690rpx;
  width: 100%;
}

.index .swiper .swiper {
  height: 400rpx;
}

.index .swiper .swiper-item {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.index .swiper .swiper-list {
  margin-top: 80rpx;
  margin-bottom: 20rpx;
}

.index .swiper .uni-common-mt {
  margin-top: 60rpx;
  position: relative;
}

.index .swiper .info {
  position: absolute;
  right: 20rpx;
}

.index .swiper .uni-padding-wrap {
  width: 550rpx;
  padding: 0 100rpx;
}

.index .swiper .swiper_img {
  height: 97%;
  width: 97%;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
  border-radius: 20rpx;
}

.index .new_push {
  width: 100%;
  height: 200rpx;
  margin-top: 60rpx;
}

.index .new_push ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index .new_push ul li {
  height: 100%;
  width: 20%;
}

.index .new_push ul li dl {
  height: 100%;
  width: 100%;
  text-align: center;
}

.index .new_push ul li dl dt {
  height: 80rpx;
  width: 76rpx;
  text-align: center;
  margin: 0 auto;
}

.index .new_push ul li dl dt img {
  height: 100%;
  width: 100%;
}

.index .new_push ul li dl dd {
  font-size: 28rpx;
  text-align: center;
}

.index .notice {
  height: 60rpx;
  width: 100%;
  margin-top: 40rpx;
}

.index .notice li {
  width: 100%;
  height: 100%;
  display: flex;
}

.index .notice li span {
  display: block;
  width: 12%;
  height: 65%;
  margin: 10rpx;
}

.index .notice li span img {
  height: 100%;
  width: 100%;
}

.index .notice li .z-swiper {
  height: 60rpx;
  width: 90%;
  margin-left: 20rpx;
}

.index .notice li .z-swiper .s-w {
  width: 100%;
  font-size: 26rpx;
  font-weight: bold;
  display: flex;
}

.index .notice li .z-swiper .s-w img {
  height: 24rpx;
  width: 24rpx;
  margin-left: 20rpx;
  margin-top: 6rpx;
}

.index .notice li .z-swiper .zong-awiper {
  width: 60rpx;
  width: 100%;
}

.index .notice li .z-swiper .swiper {
  height: 60rpx;
}

.index .notice li .z-swiper .swiper-item {
  display: block;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
}

.index .notice li .z-swiper .swiper-list {
  margin-top: 40rpx;
  margin-bottom: 0;
}

.index .notice li .z-swiper .uni-common-mt {
  margin-top: 60rpx;
  position: relative;
}

.index .notice li .z-swiper .info {
  position: absolute;
  right: 20rpx;
}

.index .notice li .z-swiper .uni-padding-wrap {
  width: 550rpx;
  padding: 0 100rpx;
}

.index .day_new {
  width: 100%;
  margin-top: 40rpx;
}

.index .day_new h3 {
  height: 60rpx;
  padding-left: 20rpx;
  border-bottom: 1px solid #eee;
}

.index .day_new .list {
  height: 100%;
  width: 100%;
}

.index .day_new .list ul {
  height: 100%;
  width: 100%;
}

.index .day_new .list ul li {
  width: 100%;
  height: 260rpx;
  border-bottom: 1px solid #f3f3f3;
  margin: 10px 0px;
}

.index .day_new .list ul li dl {
  height: 100%;
  width: 100%;
  display: flex;
}

.index .day_new .list ul li dl dt {
  height: 95%;
  width: 250rpx;
}

.index .day_new .list ul li dl dt image {
  height: 100%;
  width: 250rpx;
}

.index .day_new .list ul li dl dd {
  margin-left: 20rpx;
  width: 100%;
}

.index .day_new .list ul li dl dd .day_title {
  font-size: 28rpx;
  margin-top: 20rpx;
}

.index .day_new .list ul li dl dd .day_jt {
  font-size: 24rpx;
  color: #ccc;
  margin-top: 30rpx;
}

.index .day_new .list ul li dl dd .day_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30rpx;
}

.index .day_new .list ul li dl dd .day_price span {
  color: red;
}

.index .day_new .list ul li dl dd .day_price .cart {
  margin-right: 10px;
}

.index .day_new .list ul li dl .color {
  color: red;
}

.index .hot_sale {
  width: 100%;
  margin-top: 50rpx;
}

.index .hot_sale h3 {
  display: flex;
  justify-content: space-between;
  margin: 10rpx;
}

.index .hot_sale h3 span {
  margin-right: 20rpx;
  font-size: 28rpx;
  color: #4f4f4f;
}

.index .hot_sale h3 span img {
  height: 20rpx;
  width: 20rpx;
}

.index .hot_sale .list2 {
  height: 100%;
  width: 100%;
}

.index .hot_sale .list2 ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.index .hot_sale .list2 ul li {
  width: 43%;
  height: 360rpx;
  margin: 20rpx;
  background: white;
  box-shadow: 4rpx 4rpx #eee;
  border-radius: 10rpx 10rpx;
}

.index .hot_sale .list2 ul li dl {
  height: 100%;
  width: 100%;
}

.index .hot_sale .list2 ul li dl dt {
  height: 260rpx;
  width: 100%;
}

.index .hot_sale .list2 ul li dl dt image {
  height: 100%;
  width: 100%;
  border-radius: 10rpx;
}

.index .hot_sale .list2 ul li dl dd {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index .hot_sale .list2 ul li dl .color {
  width: 100%;
  align-items: center;
  color: red;
  display: flex;
  justify-content: space-between;
}

.index .more_baby {
  width: 100%;
  margin-top: 60rpx;
}

.index .more_baby h3 {
  height: 100rpx;
  line-height: 100rpx;
  border-bottom: 2rpx solid #eee;
  display: flex;
  justify-content: space-between;
}

.index .more_baby h3 span {
  margin-right: 20rpx;
  font-size: 28rpx;
  color: #4f4f4f;
}

.index .more_baby h3 span img {
  height: 20rpx;
  width: 20rpx;
}

.index .more_baby .list3 {
  height: 100%;
  width: 100%;
}

.index .more_baby .list3 ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.index .more_baby .list3 ul li {
  width: 43%;
  height: 360rpx;
  margin: 20rpx;
  background: white;
  box-shadow: 4rpx 4rpx #eee;
  border-radius: 10rpx 10rpx;
}

.index .more_baby .list3 ul li dl {
  height: 100%;
  width: 100%;
}

.index .more_baby .list3 ul li dl dt {
  height: 260rpx;
  width: 100%;
}

.index .more_baby .list3 ul li dl dt image {
  height: 100%;
  width: 100%;
  border-radius: 10rpx;
}

.index .more_baby .list3 ul li dl dd {
  width: 200rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index .more_baby .list3 ul li dl .color {
  width: 100%;
  align-items: center;
  color: red;
  display: flex;
  justify-content: space-between;
}
