.index {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .header {
      width: 100%;
      height: 60rpx;
      margin-top: 20rpx;
      .search {
        height: 100%;
        width: 100%;
        display: flex;
        text-align: center;
        // background: red;
        img {
          height: 36rpx;
          width: 36rpx;
          // margin-left:100px;
          position: absolute;
          left: 300rpx;
          top: 30rpx;
          z-index: 2;
        }
      }
      input {
        height: 60rpx;
        background:rgb(247,247,247);
        width: 90%;
        margin: 0px 40rpx;
        border-radius: 40rpx 40rpx;
        text-align: center;
        font-size: 24rpx;
        color: #ccc;
        // background-image: url(../icon/search.png);
      }
    }
    .swiper {
      height: 400rpx;
      width: 100%;
      margin-top: 16rpx;
      .uni-margin-wrap {
        width: 690rpx;
        width: 100%;
      }
      .swiper {
        height: 400rpx;
      }
      .swiper-item {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
      }
      .swiper-list {
        margin-top: 80rpx;
        margin-bottom: 20rpx;
      }
      .uni-common-mt {
        margin-top: 60rpx;
        position: relative;
      }
      .info {
        position: absolute;
        right: 20rpx;
      }
      .uni-padding-wrap {
        width: 550rpx;
        padding: 0 100rpx;
      }
      .swiper_img {
        height: 97%;
        width: 97%;
        // box-shadow: 0px 10px rgba(235, 231, 231, 0.8);
        // box-shadow: 2rpx 16rpx 4rpx 2rpx rgba(133, 129, 129, 0.2);
        box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
        border-radius: 20rpx;
      }
    }
    .new_push {
      width: 100%;
      height: 200rpx;
      margin-top: 60rpx;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            height: 100%;
            width: 20%;
            // background: red;
            dl{
                height: 100%;
                width: 100%;
                text-align: center;
                dt{
                    height:80rpx;
                    width: 76rpx;
                    text-align: center;
                    margin: 0 auto;
                    img {
                        height:100%;
                        width: 100%;
                      }
                }
                dd{
                    font-size: 28rpx;
                    text-align: center;
                }
            }
        }
      }
     
    }
    .notice {
      height: 60rpx;
      width: 100%;
      margin-top: 40rpx;
      li {
        width: 100%;
        height: 100%;
        display: flex;
        span {
          // background: red;
          // color: white;
          // padding: 2px;
          // font-size: 12px;
          // border-radius: 2px 2px 2px 2px;
          display: block;
          width: 12%;
          height: 65%;
          // margin: 3px;
          // line-height: 20px;
          // text-align: center;
          margin: 10rpx;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .z-swiper {
          height: 60rpx;
          width: 90%;
          margin-left: 20rpx;
          .s-w {
            width: 100%;
            font-size: 26rpx;
            font-weight: bold;
            display: flex;
            // background: red;
            // justify-content: space-between;
            img{
                height: 24rpx;
                width: 24rpx;
                margin-left: 20rpx;
                margin-top: 6rpx;
            }
          }
          .zong-awiper {
            width: 60rpx;
            width: 100%;
          }
          .swiper {
            height: 60rpx;
          }
          .swiper-item {
            display: block;
            height: 60rpx;
            line-height: 60rpx;
            text-align: center;
          }
          .swiper-list {
            margin-top: 40rpx;
            margin-bottom: 0;
          }
          .uni-common-mt {
            margin-top: 60rpx;
            position: relative;
          }
          .info {
            position: absolute;
            right: 20rpx;
          }
          .uni-padding-wrap {
            width: 550rpx;
            padding: 0 100rpx;
          }
        }
      }
    }
    .day_new {
      width: 100%;
      margin-top: 40rpx;
      h3 {
        height: 60rpx;
        padding-left: 20rpx;
        border-bottom: 1px solid #eee;
      }
      .list {
        height: 100%;
        width: 100%;
        ul {
          height: 100%;
          width: 100%;
          li {
            width: 100%;
            height: 260rpx;
            border-bottom: 1px solid #f3f3f3;
            margin: 10px 0px;
            dl {
              height: 100%;
              width: 100%;
              display: flex;
              dt {
                height:95%;
                width: 250rpx;
                image {
                  height: 100%;
                  width: 250rpx;
                }
              }
              dd{
                margin-left: 20rpx;
                width: 100%;
                 .day_title{
                   font-size: 28rpx;
                   margin-top: 20rpx;
                 }
                 .day_jt{
                   font-size: 24rpx;
                   color: #ccc;
                   margin-top: 30rpx;
                 }
                 .day_price{
                  //  background: yellow;
                   width: 100%;
                   display: flex;
                   justify-content: space-between;
                   margin-top: 30rpx;
                   span{
                     color: red;
                   }
                   .cart{
                     margin-right: 10px;
                   }
                 }
              }
              .color {
                color: red;
              }
            }
          }
        }
      }
    }
    .hot_sale {
      width: 100%;
      margin-top: 50rpx;
      h3 {
        display: flex;
        justify-content: space-between;
        margin: 10rpx;
        span {
          margin-right: 20rpx;
          font-size: 28rpx;
          color: rgb(79, 79, 79);
          img {
            height: 20rpx;
            width: 20rpx;
          }
        }
      }
      .list2 {
        height: 100%;
        width: 100%;
        ul {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          li {
            width: 43%;
            height: 360rpx;
            margin: 20rpx;
            background: white;
            box-shadow: 4rpx 4rpx #eee;
            border-radius: 10rpx 10rpx;
            dl {
              height: 100%;
              width: 100%;
              dt {
                height:260rpx;
                width: 100%;
                image {
                  height: 100%;
                  width: 100%;
                  border-radius: 10rpx;
                }
              }
              dd {
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .color {
                width: 100%;
                align-items: center;
                color: red;
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
    .more_baby {
      width: 100%;
      margin-top: 60rpx;
      h3 {
        height: 100rpx;
        line-height: 100rpx;
        border-bottom: 2rpx solid #eee;
        display: flex;
        justify-content: space-between;
        span {
          margin-right: 20rpx;
          font-size: 28rpx;
          color: rgb(79, 79, 79);
          img {
            height: 20rpx;
            width: 20rpx;
          }
        }
      }
      .list3 {
        height: 100%;
        width: 100%;
        ul {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          li {
            width: 43%;
            height: 360rpx;
            margin:20rpx;
            background: white;
            box-shadow: 4rpx 4rpx #eee;
            border-radius:10rpx 10rpx;
            dl {
              height: 100%;
              width: 100%;
              dt {
                height: 260rpx;
                width: 100%;
                image {
                  height: 100%;
                  width: 100%;
                  border-radius: 10rpx;
                }
              }
              dd {
                width: 200rpx;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .color {
                width: 100%;
                align-items: center;
                color: red;
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }