/<template>
  <view class="new_p">
      <view class="list">
        <ul>
          <li v-for="(item,index) in list" :key="index" @click="detail(item)">
            <dl>
              <dt><image :src="item.pic" alt="" @error="imgerror($event,index)"></image></dt>
              <dd>{{item.prodName}}</dd>
              <dd class="color">￥{{item.price}}</dd>
            </dl>
          </li>
        </ul>
      </view>
  </view>
</template>

<script>
import {new_product} from "@/services/index.js"
export default {
 data(){
   return{
      list:[]
   }
 },
 onLoad(){
   this.getList()
 },
 methods: {
   async getList(){
     const res=await new_product()
     this.list=res.records;
   },
    //点击跳转详情
    detail(item) {
      this.$goPage({
        url: "/pages/detail/index",
        redirect: false,
        query: {
          prodId: item.prodId,
        },
      });
    },
    imgerror(e,index){
      if(this.list.length>0){
        this.list[index].pic="../../static/coupon-ot.png"
      }
    }
 },
}
</script>

<style lang="scss" scoped>
.new_p{
  height: 100%;
  width: 100%;
  .list{
    height: 100%;
    width: 100%;
    ul{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li{
        width: 50%;
        dl{
          height: 600rpx;
          width: 100%;
          // background: red;
          margin: 10rpx;
          dt{
            height: 400rpx;
            width: 100%;
            image{
              height: 100%;
              width: 100%;
            }
          }
          .color{
            color: red;
          }
        }
      }
    }
  }
}
</style>