/<template>
  <view class="detail">
    <ul>
      <h3>{{ list.title }}</h3>
      <p v-html="list.content"></p>
    </ul>
  </view>
</template>

<script>
import { notice_detail } from "@/services/index.js";
export default {
  data() {
    return {
      list: [],
      id: "",
    };
  },
  onLoad: function (options) {
    console.log(options.id, "111");
    this.id = options.id;
    this.detail();
  },
  methods: {
    formatHtml(str) {
      //正则去匹配他的值
      // replace  字符串的替换
      return str
        .replace(/\width\=\"\d+\"/g, 'width="100%"')
        .replace(/height\=\"\d+\"/g, "");
    },
    async detail() {
      const res = await notice_detail({
        id: this.id,
      });
      res.content = this.formatHtml(res.content);
      console.log(res);
      this.list = res;
    },
  },
};
</script>

<style lang="scss">
.detail {
  height: 100%;
  width: 100%;
  ul {
    height: 100%;
    width: 100%;
    h3 {
      height: 60rpx;
      width: 100%;
      line-height: 60rpx;
      // background: blue;
      margin: 50rpx 0rpx;
      font-weight: 32rpx;
    }
  }
}
</style>