<template>
	<view class="container">
		<view class="search-bar">
			<view class="search-box">
				<input type="text" style="font-size: 32rpx;padding-top: 5rpx;" placeholder="输入关键字搜索" v-model="prodName" class="sear-input"
					@confirm="handleDown($event.detail.value)" />
			</view>
			<text class="search-hint" @click="goBackIndex">取消</text>
		</view>
		<view class="search-display">
			<view class="hot-search">
				<view class="title-text"> 热门搜索 </view>
				<view class="hot-search-tags">
					<view></view>
				</view>
			</view>
			<view class="history-search">
				<view class="title-text history-line">
					搜索历史
					<view class="clear-history">
						<uni-icons class="icons" type="trash-filled"  @click="clearSearch" size="25"></uni-icons>
						
					</view>
				</view>
				<view v-for="(item, index) in searchList" :key="index" class="his-search-tags">
					<text style="font-size: 32rpx;" class="tags" @click="handleDown(item)">{{ item }}</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getSearchList
	} from "@/services/searchList.js";
	export default {
		data() {
			return {
				prodName: "",
				searchList: uni.getStorageSync("searchList") || [],
				SearchByShop: [],
			};
		},
		onLoad() {
			this.getSearchBy();
		},
		methods: {
			goBackIndex() {
				uni.navigateBack();
			},
			clearSearch() {
				this.searchList = [];
				uni.removeStorageSync("searchList")
			},
			handleDown(value) {
				if (!this.searchList.includes(value)) {
					this.searchList.push(value);
					uni.setStorageSync("searchList", this.searchList)
				}
				console.log(this.$goPage);
				this.$goPage({
					url: "/pages/searchResults/index",
					query:{
						value
					}
				});
			},
			async getSearchBy() {
				const res = await getSearchList({
					number: 10,
					shopId: 1,
					sort: 1,
				});
				this.SearchByShop = res;
			},
		},
	};
</script>

<style scoped>
	/* 搜索栏 */

	.search-bar {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		color: #777;
		background: #fff;
		box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.07);
		z-index: 3;
	}

	.search-bar .search-box {
		position: relative;
		height: 70rpx;
		background: #f7f7f7;
		z-index: 999;
		width: 80%;
		margin-left: 70rpx;
		border-radius: 50rpx;
		margin: 20rpx 0 20rpx 20rpx;
	}

	.sear-input {
		height: 60rpx;
		border-radius: 50rpx;
		border: 0;
		margin: 0 30rpx 0 64rpx;
		line-height: 48rpx;
		vertical-align: top;
		background: #f7f7f7;
		font-size: 28rpx;
	}

	.search-bar .search-hint {
		font-size: 28rpx;
		position: absolute;
		right: 30rpx;
		top: 40rpx;
		color: #eb2444;
	}

	.search-bar .search-box .search-img {
		width: 32rpx;
		height: 32rpx;
		position: absolute;
		left: 20rpx;
		top: 14rpx;
		display: block;
	}

	/* 热门搜索&搜索历史 */

	.search-display {
		background: #fff;
		padding: 20rpx;
		margin-top: 100rpx;
	}

	.search-display .title-text {
		padding: 30rpx 0;
		font-size: 35rpx;
		color: #666;
		display: flex;
	}

	.hot-search .hot-search-tags {
		overflow: hidden;
		font-size: 26rpx;
		text-align: center;
		padding-bottom: 30rpx;
	}

	.hot-search .hot-search-tags .tags {
		display: block;
		max-width: 100%;
		overflow: hidden;
		float: left;
		border-radius: 50rpx;
		white-space: nowrap;
		text-overflow: ellipsis;
		background-color: #f2f2f2;
		box-sizing: border-box;
		margin-right: 20rpx;
		margin-bottom: 20rpx;
		padding: 10rpx 30rpx;
	}

	/* 搜索历史 */

	.history-search .title-text.history-line {
		position: relative;
		border-top: 2rpx solid #e1e1e1;
	}

	.history-search .his-search-tags {
		overflow: hidden;
		font-size: 26rpx;
		text-align: center;
		display: inline-block;
	}

	.history-search .his-search-tags .tags {
		max-width: 300rpx;
		overflow: hidden;
		float: left;
		border-radius: 50rpx;
		white-space: nowrap;
		text-overflow: ellipsis;
		background-color: #f2f2f2;
		box-sizing: border-box;
		margin-right: 20rpx;
		margin-bottom: 20rpx;
		padding: 10rpx 30rpx;
	}

	.clear-history image {
		width: 32rpx;
		height: 32rpx;
		position: absolute;
		right: 10rpx;
		top: 30rpx;
	}
	.icons{
		font-size: 40rpx;
		margin-left: 520rpx;
	}
</style>
