<template>
  <view class="submitPay">
    <view class="submitPay_wrap">
      <view class="submitPay_header">
        <view class="submitPay_header_canver">
          <!-- <img src="./image/jl.png" alt="" class="submitPay_header_canver_image" /> -->
          <text class="submitPay_header_canver_text">待支付</text>
        </view>
        <view class="submitPay_header_orderNumber"> 订单号： </view>
      </view>
      <view class="submitPay_main">
        <view
          :class="
            avtiveWx ? 'submitPay_main_item activeWx' : 'submitPay_main_item'
          "
          @click="patTypeClick('wx')"
        >
          <img src="./image/wx.png" alt="" class="submitPay_main_item_image" />
          <text class="submitPay_main_item_label">微信</text>
        </view>
        <view
          :class="
            avtiveZfb ? 'submitPay_main_item activeZfb' : 'submitPay_main_item'
          "
          @click="patTypeClick('zfb')"
        >
          <img src="./image/zfb.png" alt="" class="submitPay_main_item_image" />
          <text class="submitPay_main_item_label">支付宝</text>
        </view>
      </view>
      <view class="submitPay_foooter">
        <button type="primary" @click="payClick">支付</button>
      </view>
    </view>
  </view>
</template>

<script>
import "./index.scss";
import {_getOrderPlay} from "../../services/placeorderApi"
export default {
  data() {
    return {
      orderNumbers: "", // 支付订单
      payType: 1, // 选择支付模式
      avtiveWx: true, // 选中状态的样式控制器
      avtiveZfb: false, // 选中状态的样式控制器
    };
  },
  onLoad(options) {
    this.orderNumbers = options.orderNumbers;
  },
  methods: {
    patTypeClick(str) {
      if (str == "wx") {
        this.avtiveWx = true;
        this.avtiveZfb = false;
        this.payType = 1;
      } else {
        this.avtiveWx = false;
        this.avtiveZfb = true;
        this.payType = 2;
      }
    },
    async payClick(){
      // 点击支付
      let res = await _getOrderPlay({
        orderNumbers:this.orderNumbers,
        payType:this.payType
      })
      uni.requestPayment({
        timeStamp: res.timeStamp,
          nonceStr: res.nonceStr,
          package: res.packageValue,
          signType: res.signType,
          paySign: res.paySign,
          success: e => {
            //console.log("支付成功");
            // wx.redirectTo({
            //   url: '/pages/pay-result/pay-result?sts=1&orderNum=' + orderNumbers + "&orderType=" + this.data.orderType,
            // })
          },
          fail: err => {
            
          }
      })
    }
  },
};
</script>

<style></style>
