.submitPay {
    width: 100%;
    height: 100%;
    background-color: #fff;

    .submitPay_wrap {
        width: 80%;
        height: 80%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .submitPay_header {
            width: 100%;
            height: 20%;
            background-color: pink;

            .submitPay_header_canver {
                width: 100%;
                height: 70%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;

                .submitPay_header_canver_image {
                    width: 100%;
                    height: 100%;
                }

                .submitPay_header_canver_text {
                    font-size: 60rpx;
                }
            }

            .submitPay_header_orderNumber {
                width: 100%;
                height: 30%;
                background-color: #fff;
                display: flex;
                align-items: center;
                padding: 0 20rpx;
            }
        }

        .submitPay_main {
            width: 100%;
            background-color: #fff;

            .submitPay_main_item {
                width: calc(100% - 20rpx);
                height: 140rpx;
                margin: 10px 0;
                border-radius: 10rpx;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                padding: 0 10rpx;
                .submitPay_main_item_label{
                    margin: 0 10px;
                }

                .submitPay_main_item_image {
                    height: 60%;
                    width: 80rpx;
                }
            }

        }
    }
}

.activeWx {
    border: 1px solid red !important;
}

.activeZfb {
    border: 1px solid red !important;
}