<template>
  <button open-type="contact" bindcontact="handleContact">客服中心</button>
</template>

<script>
export default {
  data(){
    return {

    }
  },
  methods: {
    handleContact (e) {
        console.log(e.detail.path)
        console.log(e.detail.query)
    }
  },
}
</script>

<style>

</style>