<template>
  <view class="Wrap">
    <view class="Form_Wrap">
      <view class="Name_Box">
        <text>收 货 人</text>
        <input placeholder="姓名" type="text" v-model="customForm.receiver" />
      </view>
      <view class="Cell_Box">
        <text>手机号码</text>
        <input
          placeholder="11位手机号码"
          type="text"
          v-model="customForm.mobile"
        />
      </view>
      <view class="Address_Box">
        <text>所在地区</text>
        <view @click="toggle('bottom')" class="Toggle_Box">
          <text v-if="customForm.province">{{ customForm.province }}</text>
          <text v-if="customForm.city">{{ customForm.city }}</text>
          <text v-if="customForm.area">{{ customForm.area }}</text>
        </view>
      </view>
      <view class="Detail_Box">
        <text>详细地址</text>
        <input
          placeholder="如楼号/单元/门牌号"
          type="text"
          v-model="customForm.addr"
        />
      </view>
      <view class="Snb_Box">
        <button @click="newAdd">保存收货地址</button>
      </view>
    </view>
    <uni-popup ref="popup" background-color="#fff" class="popupBox">
      <p class="P_Text"><text @click="clone">确定</text></p>
      <view
        class="popup-content"
        :class="{ 'popup-height': type === 'left' || type === 'right' }"
      >
        <picker-view
          indicator-style="height:50px;"
          :value="value"
          class="picker-view"
          @change="changeItem"
        >
          <picker-view-column class="item">
            <view class="item" v-for="item in provinceList" :key="item.areaId"
              ><text>{{ item.areaName }}</text></view
            >
          </picker-view-column>
          <picker-view-column>
            <view class="item" v-for="item in citiesList" :key="item.areaId">{{
              item.areaName
            }}</view>
          </picker-view-column>
          <picker-view-column>
            <view class="item" v-for="item in areaList" :key="item.areaId">{{
              item.areaName
            }}</view>
          </picker-view-column>
        </picker-view>
      </view>
    </uni-popup>
  </view>
</template>

<script>
import { _Get_Province, _Add_Address } from "../../services/My";
export default {
  data() {
    return {
      customForm: {
        addr: "", //地址
        addrId: 0, //地址ID
        area: "", //区
        areaId: 0, //区ID
        city: "", //城市
        cityId: 0, //城市ID
        mobile: "", //手机
        province: "", //省
        provinceId: 0, //省ID
        receiver: "", //收货人
      },
      type: "bottom",
      provinceList: [], //省份
      citiesList: [], //市级城市
      areaList: [], //县级城市
      ids: [0, 0, 0], //用来春芳省市区的下标
    };
  },
  onReady() {
    // 设置自定义表单校验规则，必须在节点渲染完毕后执行
    this.$refs.customForm.setRules(this.customRules);
  },
  onLoad() {
    this.getProvince(0);
  },
  methods: {
    // 表单提交
    async newAdd() {
      const result = await _Add_Address(this.customForm);
      this.$goPage({
        url: "/pages/AddressPage/index",
      });
    },
    showPicker() {
      this.visible = true;
    },
    async getProvince(pid) {
      const result = await _Get_Province({ pid });
      const resultCities = await this.getCities(result);
      const resultArea = await this.getArea(resultCities); // console.log(resultCities, "resultCities", resultArea, "resultArea");
      this.provinceList = [...result];
      this.citiesList = [...resultCities];
      this.areaList = [...resultArea];
    },
    async getCities(result) {
      return await _Get_Province({ pid: result[this.ids[0]].areaId });
    },
    async getArea(resultCities) {
      return await _Get_Province({
        pid: resultCities[this.ids[1]].areaId,
      });
    }, // 开启底部弹框
    toggle(type) {
      this.type = type; // open 方法传入参数 等同在 uni-popup组件上绑定 type属性
      this.$refs.popup.open(type);
    }, // 关闭弹窗
    clone() {
      this.$refs.popup.close(); // console.log(this.ids);
      this.customForm.province = this.provinceList[this.ids[0]].areaName;
      this.customForm.provinceId = this.provinceList[this.ids[0]].areaId;
      this.customForm.city = this.citiesList[this.ids[1]].areaName;
      this.customForm.cityId = this.citiesList[this.ids[1]].areaId;
      this.customForm.area = this.areaList[this.ids[2]].areaName;
      this.customForm.areaId = this.areaList[this.ids[2]].areaId;
    }, // 滑动监听数据
    async changeItem(e) {
      this.ids = e.detail.value; //监听改变下标
      this.citiesList = await this.getCities(this.provinceList);
      this.areaList = await this.getArea(this.citiesList);
    },
  },
};
</script>

<style lang="scss">
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 10px;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #fff;
}
.Form_Wrap {
  width: 100%;
  height: 350px;
  background: #fff;
}
.Name_Box {
  width: 100%;
  height: 45px;
  display: flex;
  line-height: 25px;
}
.Name_Box text {
  margin-left: 10px;
  margin-top: 10px;
}
.Name_Box input {
  margin-left: 15px;
  margin-top: 12px;
}
.Cell_Box {
  width: 100%;
  height: 45px;
  border-top: 1px solid #eee;
  display: flex;
  line-height: 25px;
}
.Cell_Box text {
  margin-left: 10px;
  margin-top: 10px;
}
.Cell_Box input {
  margin-left: 15px;
  margin-top: 12px;
}
.Address_Box {
  width: 100%;
  height: 45px;
  border-top: 1px solid #eee;
  display: flex;
  line-height: 25px;
}
.Toggle_Box {
  width: 70%;
  height: 100%;
  line-height:45px;
  background: #fff;
}

.Address_Box text {
  margin-left: 10px;
  margin-top: 10px;
}
.Address_Box input {
  margin-left: 15px;
  margin-top: 12px;
}
.Detail_Box {
  width: 100%;
  height: 45px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  line-height: 25px;
}
.Detail_Box text {
  margin-left: 10px;
  margin-top: 10px;
}
.Detail_Box input {
  margin-left: 15px;
  margin-top: 12px;
}
.Snb_Box {
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
.Snb_Box button {
  width: 60%;
  height: 33px;
  border-radius: 50px;
  background: red;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 33px;
  margin-left: 20%;
}
@mixin flex {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: row;
}

@mixin height {
  height: 100%;
  flex: 1;
}

.popup-content {
  @include flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 265px;
  background-color: #fff;
}
.text {
  font-size: 12px;
  color: #333;
}

.picker-view {
  width: 750rpx;
  height: 600rpx;
  margin-top: 20rpx;
}
.item {
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black !important;
  line-height: 50px;
}
.P_Text {
  float: right;
  font-size: 13px;
  margin-right: 20px;
  margin-top: 10px;
  z-index: 99999;
}
</style>