/<template>
  <view class="notice">
    <ul>
      <li v-for="(item, index) in list" :key="index" @click="detail(item)">
        <p>{{ item.title }}</p>
        <p class="time">{{ item.publishTime }}</p>
      </li>
    </ul>
  </view>
</template>

<script>
import {noticeList} from "@/services/index.js";
export default {
  data() {
    return {
      list: [],
    };
  },
  onLoad() {
    this.getList();
  },
  methods: {
    async getList() {
      const res = await noticeList({
        current:1,
        size:10
      });
      this.list = res.records;
    },
    detail(item) {
      uni.navigateTo({
        url:`/pages/noticeDetail/index?id=${item.id}`,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.notice {
  height: 100%;
  width: 100%;
  ul {
    height: 100%;
    width: 100%;
    li {
      height: 130rpx;
      border-bottom: 2rpx solid #eee;
      line-height: 60rpx;
      p {
        font-size: 14px;
      }
      .time {
        font-size: 12px;
        color: rgb(103, 101, 101);
        text-align: right;
      }
    }
  }
}
</style>