<template>
  <view class="viewLike_Wrap">
    <view v-if="list.length > 0">
      <view
        v-for="item in list"
        :key="item.proId"
        class="ForBox"
        @click="go_del(item.proId)"
      >
        <view class="ImgBox">
          <img :src="item.pic" alt="" />
        </view>
        <view class="NameBox">
          <text>{{ item.prodName }}</text>
        </view>
        <view class="PriceBox">
          <text>￥{{ item.price }}</text>
        </view>
      </view>
    </view>
    <view v-else>
      <p class="Wrap_p">暂无收藏商品</p>
    </view>
  </view>
</template>

<script>
import { _Get_Like } from "../../services/My";
export default {
  data() {
    return {
      list: [],
    };
  },
  methods: {
    async get_list() {
      const res = await _Get_Like();
      this.list = res.records;
      console.log(this.list);
    },
    go_del(proId) {
      this.$goPage({
        url: "/pages/detail/index",
        query: {
          proId: proId,
        },
      });
    },
  },
  onLoad() {
    this.get_list();
  },
};
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
}
.Like_Wrap {
  width: 100%;
  height: 100%;
}
.Wrap_p {
  text-align: center;
}
.ForBox {
  float: left;
  width: 48%;
  margin-left: 1%;
  height: 250px;
  /* background: skyblue; */
}
.ImgBox {
  width: 100%;
  height: 70%;
}
img {
  width: 100%;
  height: 100%;
}
.NameBox {
  font-size: 13px;
  text-align: justify;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 20px;
}
.PriceBox {
  color: red;
  line-height: 30px;
}
</style>