/<template>
  <view class="dayCrazy">
    <view class="list">
      <ul>
        <li v-for="(item, index) in list" :key="index" @click="detail(item)">
          <dl>
            <dt>
              <image
                :src="item.pic"
                alt=""
                @error="imgerror($event, index)"
              ></image>
            </dt>
            <dd>{{ item.prodName }}</dd>
            <dd class="color">￥{{ item.price }}</dd>
          </dl>
        </li>
      </ul>
    </view>
  </view>
</template>

<script>
import { day_crazy } from "@/services/index.js";
export default {
  data() {
    return {
      list: [],
      current: 1,
      // size:10,
      // text:"每日疯抢"
    };
  },
  onLoad() {
    this.getList();
    setTimeout(function () {
			console.log('start pulldown');
		}, 1000);
		uni.startPullDownRefresh();
  },
  onReachBottom() {
    this.addList();
  },
	onPullDownRefresh() {
		console.log('refresh');
		setTimeout(function () {
			uni.stopPullDownRefresh();
		}, 1000);
    this.getList()
	},
  methods: {
    async getList() {
      const {records,pages}= await day_crazy({
        current:this.current,
        pageSize:12
      });
      this.page=pages
      this.list.push(...records)
    },
    addList() {
      console.log(this.current,"1",this.size,"1111111111111111111");
      if (this.current < this.page) {
        this.current++,
        this.getList();
      }
    },
    imgerror(e, index) {
      if (this.list.length > 0) {
        this.list[index].pic = "../../static/coupon-ot.png";
      }
    },
        //点击跳转详情
    detail(item) {
      this.$goPage({
        url: "/pages/detail/index",
        redirect: false,
        query: {
          prodId: item.prodId,
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.dayCrazy {
  height: 100%;
  width: 100%;
  .list {
    height: 100%;
    width: 100%;
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      li {
        width: 50%;
        dl {
          height: 600rpx;
          width: 100%;
          // background: red;
          margin: 10rpx;
          dt {
            height: 400rpx;
            width: 100%;
            image {
              height: 100%;
              width: 100%;
            }
          }
          .color {
            color: red;
          }
        }
      }
    }
  }
}
</style>