<template>
	<view class="classify1">
		<view class="view">
			<input @click="goSearch" placeholder="搜索" class="a1" type="text">
			<text class="qu">取消</text>
		</view>

		<view class="classify">
			<view class="classify-left">
				<view class="p1" v-for="(item, index) in classifyLeft" :key="index" @click="change(item.categoryId)">
					<p @click="changeIndex(index)" :class="index === active ? 'active' : ''">{{item.categoryName}}</p>
				</view>
			</view>
			<view class="classify-right">
				<view>
					<img :src="classifyLeft[active].pic" alt=""
						style="width: 90%; height: 100px; padding-left: 20px;" />
				</view>
				<dl @click="goDetails(item)" class="dl" v-for="(item, index) in classifyRight" :key="index">
					<dt>
						<img :src='item.pic' alt=""
							style="width: 200rpx; height: 200rpx; margin-right: 10px; padding-left: 20px;" />
					</dt>
					<dd>
						<p style="font-size: 30rpx;">{{item.prodName}}</p>
						<p class="p">￥{{item.price}}</p>
					</dd>
				</dl>

			</view>

		</view>

	</view>

</template>

<script>
	import {
		list_category
	} from "../../services/classifyList.js"
	import {
		list_prod
	} from "../../services/classifyList.js"
	export default {
		data() {
			return {
				classifyLeft: [],
				classifyRight: [],
				active: 0,
				categoryIndex: 85
			}
		},
		onLoad() {
			this.leftList()
			this.rightList()
		},
		methods: {
			async leftList() {
				const res = await list_category({})
				this.classifyLeft = res
			},
			async rightList() {
				const res = await list_prod({
					categoryId: this.categoryIndex
				});
				this.classifyRight = res.records
			},
			changeIndex(index) {
				this.active = index;
			},
			change(id) {
				this.categoryIndex = id
				this.rightList()
			},
			goSearch() {
				uni.navigateTo({
					url: "/pages/searchAdd/index"
				})
			},
			goDetails(item) {
				this.$goPage({
					url: "/pages/detail/index",
					redirect: false,
					query: {
						prodId: item.prodId
					}
				})
			}
			
		},
	}
</script>
<style scoped>
	.classify1 {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.view {
		position: fixed;
		z-index: 9999;
		width: 100%;
		line-height: 56rpx;
		top: 0;
		display: flex;
		height: 50px;
		background: #fff;
	}

	.view input {
		width: 600rpx;
		height: 70rpx;
		background: #f5f5f5;
		font-size: 30rpx;
		border-radius: 50rpx;
		margin-left: 80rpx;
		text-align: center;
	}

/* 	.view .qu {
		padding: 15rpx 20rpx 20rpx 15rpx;
		padding-left: 50rpx;
		color: red;
	} */

	.classify {
		width: 100%;
		height: 100%;
		display: flex;
		margin-top: 90rpx;
	}

	.classify-left {
		width: 30%;
		height: 100%;
		background: #f5f5f5;
	}

	.classify-left p {
		width: 100%;
		height: 70rpx;
		font-size: 35rpx;
		text-align: center;
		padding-top: 30rpx;
		border-left: 3px solid #ccc;
	}

	.active {
		border-left: 3px solid red !important;
		background: #fff;
		padding-right: 50rpx;
	}

	.classify-right {
		width: 70%;
		height: 100%;
		overflow-y: auto;
	}

	.classify-right dl {
		display: flex;
	}

	.classify-right dl dt img {
		width: 50rpx;
		height: 100rpx;
	}

	.classify-right dl dd .p {
		color: red;
	}

	.classify-right dl dd p {
		padding-top: 20rpx;
		font-size: 35rpx;
	}
</style>
