/<template>
  <view class="s_l">
    <view class="header">
      <view class="find">
        <img src="../index/icon/search.png" alt="" />
        <input
          type="text"
          placeholder="输入关键字搜索"
          @confirm="search"
          v-model="searchValue"
        />
      </view>
      <span>
        <img
          src="./image/search-col2.png"
          alt=""
          v-show="tagImg"
          @click="show"
        />
        <img
          src="./image/search-col.png"
          alt=""
          v-show="!tagImg"
          @click="show"
        />
      </span>
    </view>
    <view class="resultNav">
      <view>
        <text
          v-for="(item, index) in tab"
          :key="index"
          class="tab-item"
          :class="index == indexaction ? 'action' : ''"
          @click="tabIndex(index)"
        >
          {{ item }}
        </text>
      </view>
    </view>
    <view class="list">
      <view class="showList" v-show="tagImg">
        <ul>
          <li v-for="(item, index) in list" :key="index" @click="detail(item)">
            <dl>
              <dt><img :src="item.pic" alt="" /></dt>
              <dd>
                <h3>{{ item.prodName }}</h3>
                <p>
                  <span>{{ item.praiseNumber }}评价</span
                  ><span>{{ item.positiveRating }}%好评</span>
                </p>
                <p class="color">￥{{ item.price }}</p>
              </dd>
            </dl>
          </li>
        </ul>
      </view>
      <view class="noList" v-show="!tagImg">
        <ul>
          <li v-for="(item, index) in list" :key="index" @click="detail(item)">
            <p><img :src="item.pic" alt="" /></p>
            <h3>{{ item.prodName }}</h3>
            <p>
              <span>{{ item.praiseNumber }}评价</span
              ><span>{{ item.positiveRating }}%好评</span>
            </p>
            <p class="color">￥{{ item.price }}</p>
          </li>
        </ul>
      </view>
    </view>
  </view>
</template>

<script>
import { sort_searchList } from "@/services/index.js";
export default {
  data() {
    return {
      tab: ["综合", "销量", "价格"],
      list: [],
      searchValue: "",
      value: "",
      searchData: {
        current: 1,
        size: 10,
        sort: 0,
        prodName: "",
      },
      indexaction: 0,
      tagImg: true,
    };
  },
  onLoad: function (option) {
    console.log(option.searchValue, "search");
    this.searchValue = option.searchValue;
    this.getList();
  },
  methods: {
    async getList() {
      this.searchData.prodName = this.searchValue;
      this.searchData.sort = this.indexaction;
      const res = await sort_searchList(this.searchData);
      this.list = res.records;
      console.log(res, "数据");
    },
    tabIndex(index) {
      this.indexaction = index;
      this.getList();
    },
    show() {
      this.tagImg = !this.tagImg;
    },
    detail(item) {
      this.$goPage({
        url: "/pages/detail/index",
        redirect: false,
        query: {
          prodId: item.prodId,
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
* {
  background: #eee;
}
.s_l {
  // height: 100%;
  width: 100%;
  background: #eee;
  .header {
    height: 100rpx;
    width: 100%;
    background: white;
    // background: red;
    // border-bottom: 2rpx solid #eee;
    // padding: 10px;
    display: flex;
    justify-content: space-around;
    .find {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20rpx;
      img {
        height: 30rpx;
        width: 30rpx;
        position: absolute;
        left: 90rpx;
        top: 54rpx;
      }
      input {
        height: 100%;
        width: 70%;
        height: 60rpx;
        background: rgb(247, 247, 247);
        border-radius: 60rpx 60rpx;
        padding-left: 60rpx;
        // margin-left: 10rpx;
        margin-top: 20rpx;
        font-size: 26rpx;
      }
    }
    span {
      img {
        height: 50rpx;
        width: 50rpx;
      }
      margin-top: 50rpx;
      margin-right: 30rpx;
    }
  }
  .resultNav {
    height: 80rpx;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    // margin-top: 20rpx;
    padding-top: 20rpx;
    view {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      .action {
        color: red;
      }
    }
  }
  .list {
    width: 100%;
    height: 100%;
    background: #eee;
    .showList {
      height: 100%;
      width: 100%;
      background: #eee;
      ul {
        height: 100%;
        width: 100%;
        background: #eee;
        li {
          width: 100%;
          height: 200rpx;
          // background:red;
          background: white;
          margin: 20rpx;
          border-radius: 20rpx;
          dl {
            height: 100%;
            width: 100%;
            display: flex;
            dt {
              height: 200rpx;
              width: 200rpx;
              img {
                height: 199rpx;
                width: 199rpx;
              }
            }
            dd {
              font-size: 28rpx;
              margin-left: 20rpx;
              line-height: 50rpx;
              p {
                span {
                  color: rgb(103, 103, 103);
                  font-size: 24rpx;
                }
              }
              .color {
                color: red;
              }
            }
          }
        }
      }
    }
    .noList {
      height: 100%;
      width: 100%;
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        li {
          height: 500rpx;
          width: 45%;
          background: white;
          margin: 10rpx;
          img {
            height: 250rpx;
            width: 100%;
          }
          h3 {
            font-size: 24rpx;
          }
          p {
            span {
              color: rgb(103, 103, 103);
              font-size: 20rpx;
            }
          }
          .color {
            color: red;
          }
        }
      }
    }
  }
}
</style>