/<template>
  <view class="da">
    <!-- 轮播图 -->
    <view class="uni-margin-wrap">
      <swiper
        class="swiper"
        circular
        :indicator-dots="indicatorDots"
        :autoplay="autoplay"
        :interval="interval"
        :duration="duration"
      >
        <swiper-item
          class="swiper-ie"
          v-for="(items, index) in lunboimgs"
          :key="index"
        >
          <view class="swiper-item uni-bg-red">
            <image :src="items" mode="scaleToFill" class="lunbo_img" />
          </view>
        </swiper-item>
      </swiper>
    </view>
    <!-- 价钱区域 -->
    <view class="detail_p">
      <view class="detail_pp">
        <text class="detail_cesi">{{ dtailOnj.prodName }}</text>
        <dl class="detail_icon">
          <dt>
            <uni-icons
              v-if="!zhuangtai"
              type="heart"
              size="30"
              @click="addSou"
            ></uni-icons>
            <uni-icons
              v-else
              type="heart-filled"
              color="red"
              @click="addSou"
              size="30"
            ></uni-icons>
          </dt>
          <dd class="detail_wen">{{ zhuangtai ? "已收藏" : "收藏" }}</dd>
        </dl>
      </view>

      <text class="detail_xiao">{{ dtailOnj.brief }}</text>
      <text class="detail_color"
        >￥<text class="detail_big">{{ dtailOnj.price }}</text></text
      >
    </view>
    <!-- 已选换修无忧版本 -->
    <view class="home" @click="open">
      <view class="yixuan">已选</view>
      <!-- <view>换修无忧版，深空灰色，64GB，1件</view> -->
      <view class="detail_yixuan" v-if="!disabledd">
        已选：{{ skuObj.defaultSkuList.join(",")
        }}{{ skuObj.selectedCount }} 件</view
      >
      <uni-icons type="more-filled" size="30" class="detail_home"></uni-icons>
    </view>
    <!-- 评价 -->
    <view class="pingjiaz" @click="opens">
      <view class="pingjia">
        <text class="pingjia_1">评价</text>
        <text class="pingjia_2">好评0%</text>
        <text class="pingjia_3"> 共0条</text>
        <uni-icons type="forward" size="30" class="pingjia_4"></uni-icons>
      </view>
      <view class="span_all">
        <text>全部(0)</text>
        <text>好评(0)</text>
        <text>中评(0)</text>
        <text>差评(0)</text>
        <text>有图(0)</text>
      </view>
    </view>

    <!-- 详情页面的数据 -->
    <view v-html="dtailOnj.content"></view>
    <!-- 弹框 -->
    <view>
      <uni-popup
        animation="true"
        ref="popup"
        type="bottom"
        background-color="#fff"
        class="tan_button"
      >
        <view class="popup_content">
          <view class="view_one">
            <!-- 钱 -->
            <!-- 第一个 -->
            <view class="popup_info">
              <image :src="skuObj.selectedPic" class="popup_img" />
              <view class="popup_onep">
                <view class="detail_color"
                  >￥
                  <text class="detail_big">{{ skuObj.selectedPrice }}</text>
                </view>
                <view class="detail_yixuan" v-if="!disabledd">
                  已选：{{ skuObj.defaultSkuList.join(",")
                  }}{{ skuObj.selectedCount }} 件</view
                >
                <h1 v-else>无货</h1>
              </view>
            </view>
            <view class="popup_close" @click="closes">X</view>
            <!-- 版本 、颜色、内存-->
            <view v-if="skuObj.propertiesList.length">
              <view v-for="(item, index) in skuObj.propertiesList" :key="index">
                <span class="popup_span">{{ item.title }} </span>
                <!-- 默认高亮 -->
                <button
                  v-for="(item2, index2) in item.titlePlus"
                  :key="index2"
                  id="popup_button"
                  :class="[
                    isActive({
                      ind: index,
                      item: item2,
                    }),
                  ]"
                  @click="
                    handleSel({
                      ind: index,
                      item: item2,
                    })
                  "
                >
                  <!-- skuName":"换修无忧版 银色 512GB  -->
                  {{ item2 }}
                </button>
              </view>
            </view>
            <!-- 加加减减 -->
            <view class="popup_jiajian">
              <span class="popup_number">数量 </span>
              <uni-section padding>
                <uni-number-box @change="changeValue" />
              </uni-section>
            </view>
            <!-- 加入购物车的底部导航 -->
            <view class="popup_moshi">
              <button
                :class="!disabledd ? 'add_cart btn' : 'activeno'"
                @click="addShu"
              >
                加入购物车
              </button>
              <button :class="!disabledd ? 'bye_now btn' : 'activeno'">
                立即购买
              </button>
            </view>
          </view>
        </view>
      </uni-popup>
    </view>

    <!-- 商品导航1 -->
    <uni-section class="uni_seaction">
      <uni-goods-nav
        :fill="true"
        :options="options"
        :button-group="customButtonGroup"
        @click="onClick"
        @buttonClick="buttonClick"
      />
    </uni-section>

    <button
      class="service"
      open-type="contact"
      bindcontact="handleContact"
    ></button>

    <!-- 商品库存全部差评和好评 -->
    <view class="allpop">
      <uni-popup
        ref="popupAll"
        type="bottom"
        background-color="#fff"
        class="popAll"
      >
        <view class="popAll">
          <view class="pingjia">
            <text class="pingjia_1">商品评价</text>
            <text class="pingjia_2">好评度0%</text>
            <text @click="closess" class="popup_close">X</text>
          </view>
          <view class="span_all">
            <text @click="spanall(-1)">全部(0)</text>
            <text @click="spanall(0)">好评(0)</text>
            <text @click="spanall(1)">中评(0)</text>
            <text @click="spanall(2)">差评(0)</text>
            <text @click="spanall(3)">有图(0)</text>
          </view>
          <!-- 加入购物车的底部导航 -->
          <view class="popup_moshi">
            <button
              :class="!disabledd ? 'add_cart btn' : 'activeno'"
              @click="addShu"
            >
              加入购物车
            </button>
            <button :class="!disabledd ? 'bye_now btn' : 'activeno'">
              立即购买
            </button>
          </view>
        </view>
      </uni-popup>
    </view>
  </view>
</template>

<script>
// 引入详情页面的数据接口
import {
  _get_detail,
  add_detail,
  add_Sou,
  addYes,
} from "@/services/detail";
export default {
  data() {
    return {
      background: ["color1", "color2", "color3"],
      indicatorDots: true,
      autoplay: true,
      interval: 2000,
      duration: 500,
      dtailOnj: {}, //定义一个空数组
      lunboimgs: [], //定义一个空数组
      id: 0, //id
      skuId:0,
      skuObj: {
        //默认的数据
        defaultSkuList: [],
        propertiesList: [],
        selectedPic: "",
        selectedPrice: 0, //选中商品的价格
        selectedCount: 1, //选中商品的数量
      },

      disabledd: false,
      zhuangtai: false,
      options: [
        {
          icon: "chat",
          text: "客服",
        },
        {
          icon: "cart",
          text: "购物车",
          info: 0,
        },
      ],
      customButtonGroup: [
        {
          text: "加入购物车",
          backgroundColor: "#4c4456",
          color: "#fff",
        },
        {
          text: "立即购买",
          backgroundColor: "#e9203c",
          color: "#fff",
        },
      ],
    };
  },
  //监听
  watch: {
    "skuObj.defaultSkuList"(val) {
      const currentSel = this.haveSkuItem(val);
      //修改价格和图片
      this.skuObj.selectedPrice = currentSel.price;
      this.skuObj.selectedPic = currentSel.pic;
    },
  },
  onLoad(options) {
    this.init(options.prodId);
    // this.addSou(options.prodId);
  },
  methods: {
    // 点击筛选调用接口
    async spanall(num) {
      await pin_lun({
        current: 1,
        size: 10,
        prodId: this.id,
        evaluate: num,
      });
    },
    //点击打开筛选评价
    opens() {
      this.$refs.popupAll.open("bottom");
    },
    // get传入的是一个对象
    async addSou() {
      // 添加和编辑的时候是使用的是get,然后是个对象
      await add_Sou(this.dtailOnj.prodId);
      const flag = await addYes({
        prodId: this.dtailOnj.prodId,
      });
      if (flag && typeof flag !== "object") this.zhuangtai = flag;
      else this.zhuangtai = flag.data;
      console.log(this.zhuangtai, "------");
    },

    //关闭弹框
    closes() {
      this.$refs.popup.close("bottom");
    },
    closess() {
      this.$refs.popupAll.close("bottom");
    },
    //点击加入购物车页面
    async addShu() {
      let obj = {
        // basketId: this.dtailOnj.basketId,
        count: this.skuObj.selectedCount,
        // distributionCardNo = this.dtailOnj.distributionCardNo,
        prodId: this.dtailOnj.prodId,
        shopId: this.dtailOnj.shopId,
        skuId: this.dtailOnj.skuList[0].skuId,
      };
      await add_detail(obj);
      //关闭弹框
      //  this.$refs.popup.close("bottom");
      this.closes();
    },
    //点击的切换选中的内容
    handleSel({ ind, item }) {
      this.disabledd = this.isActive({ ind, item }).trim() === "disabled";
      let { defaultSkuList } = this.skuObj;
      defaultSkuList[ind] = item;
      this.skuObj.defaultSkuList = [...defaultSkuList];
    },
    //找到是否有库存
    haveSkuItem(selectProtites) {
      return this.dtailOnj.skuList.find(
        ({ skuName }) => selectProtites.join(" ") === skuName
      );
    },
    //默认高亮
    isActive({ ind, item }) {
      //判断是否为选中的属性
      // 0:属性名  1：属性名  3：属性名
      const selectProtites = [...this.skuObj.defaultSkuList];
      selectProtites[ind] = item;
      let flag = "";
      this.skuObj.defaultSkuList.forEach((val, i) => {
        //点击的选项
        if (ind === i && item === val) {
          flag = "active";
        }
      });
      // 选的东西  看看库存里面是否还有
      flag = this.haveSkuItem(selectProtites) ? flag : flag + "disabled";
      return flag;
    },
    //改变数量
    changeValue(value) {
      console.log("返回数值：", value);
      this.skuObj.selectedCount = value;
    },
    //打开弹框
    open() {
      this.$refs.popup.open("bottom");
    },
    //匹配他的值
    formatHtml(str) {
      //正则去匹配他的值
      // replace  字符串的替换
      return str
        .replace(/\width\=\"\d+\"/g, 'width="100%"')
        .replace(/height\=\"\d+\"/g, "");
    },
    formatSKU(skuList) {
      //判断skuList是否为空数组
      if (skuList.length) {
        //必须有sku
        const { properties, skuName } = skuList[0]; //默认第一个
        this.skuObj.defaultSkuList = skuName.split(/\s/);
        if (properties) {
          //处理商品规格参数
          this.skuObj.propertiesList = properties
            .split(";")
            .map((item, index) => {
              const [title] = item.split(":");
              const titlePlus = [
                ...new Set(
                  skuList.map(({ skuName }) => skuName.split(/\s/)[index])
                ),
              ];
              return {
                title,
                titlePlus,
              };
            });
        }
      }
    },
    //轮播图匹配
    Lunbo(dtailOnjimgs) {
      if (dtailOnjimgs.length) {
        this.lunboimgs = dtailOnjimgs.split(",");
      }
    },
    //定义初始化函数
    async init(id) {
      this.id = id;
      const result = await _get_detail(id);
      result.content = this.formatHtml(result.content);
      this.dtailOnj = result;
      this.formatSKU(result.skuList);
      this.skuId=result.skuList[0].skuId
      //轮播图的图片进行循环播放
      this.Lunbo(this.dtailOnj.imgs);
      this.skuObj.selectedPic = result.pic;
      this.skuObj.selectedPrice = result.price;
      let flag = await addYes({
        prodId: this.dtailOnj.prodId,
      });
      if (flag && typeof flag !== "object") this.zhuangtai = flag;
      else this.zhuangtai = false;
      console.log(flag, "glagfalag");
    },

    //左侧点击购物导航的事件
    onClick(e) {
      if (e.index === 1) {
        uni.redirectTo({ url: "/pages/shopcar/index" });
      }
    },

    //点击右侧事件
    async buttonClick(e) {
      if (e.index === 0) {
        // //点击打开弹框
        // 通过组件定义的ref调用uni-popup方法 ,如果传入参数 ，type 属性将失效 ，仅支持 ['top','left','bottom','right','center']
        this.$refs.popup.open("bottom");
        this.options[1].info++;
      } else {
        let obj = {
          // distributionCardNo: "",
          addrId: 0,
          orderItem: {
            skuId: this.skuId,
            prodId:Number(this.id),
            shopId: this.dtailOnj.shopId,
            prodCount: this.skuObj.selectedCount,
          },
        }
        //理解购买页面
        uni.setStorageSync("OrderData", obj);
        this.$goPage({
          url: "/pages/placeOrder/index",
        });
      }
    },
  },
};
</script>

<style lang='scss'>
.da {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.uni-margin-wrap {
  // width: 690rpx;
  width: 100%;
  background: #eee;
  height: 700rpx;
}
.swiper {
  height: 700rpx;
}
.swiper-item {
  display: block;
  height: 700rpx;
  line-height: 300rpx;
  text-align: center;
  image {
    width: 100%;
    height: 700rpx;
  }
}
.swiper-list {
  margin-top: 40rpx;
  margin-bottom: 0;
}
.uni-common-mt {
  margin-top: 60rpx;
  position: relative;
}
.info {
  position: absolute;
  right: 20rpx;
}
.uni-padding-wrap {
  width: 550rpx;
  padding: 0 100rpx;
}
.zong {
  position: relative;
}
.uni_seaction {
  width: 100%;
  position: fixed;
  bottom: 0;
}
/* 弹框 */
.example-body {
  height: 500px;
  background-color: #fff;
  padding: 10px 0;
}
.popup_content {
  width: 100%;
  height: 500px;
  background: #fff;
  display: flex;
}
.tan_button {
  height: 300px;
  background: powderblue;
}
.popup_close {
  width: 5%;
  height: 30rpx;
  margin-left: 90%;
  margin-top: 10px;
  font-weight: 900;
  color: #a1a1a1;
  position: fixed;
  top: 0px;
  right: 3px;
}
.detail_p {
  width: 100%;
  height: 130px;
  background: #fff;
  .detail_pp {
    width: 100%;
    height: 60px;
    display: flex;
    .detail_cesi {
      width: 76%;
      height: 50px;
      display: inline-block;
      font-size: 20px;
      border-right: 1px solid #f6f6f6;
      margin-left: 10px;
    }
    .detail_icon {
      margin-left: 10px;
      width: 8%;
      display: inline-block;
      margin-right: 5px;
      color: #818181;
      margin-left: 25px;
    }
    #detail_is {
      color: #818181;
      // background: red;
    }
  }
  .uni-icons {
    color: #818181;
  }
  .detail_xiao {
    width: 100%;
    height: 30px;
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    margin-left: 10px;
  }
  .detail_color {
    color: #ec3552;
    margin-left: 10px;
  }
  .detail_big {
    font-size: 30px;
    color: #ec3552;
  }
  .detail_wen {
    width: 40px;
    font-size: 12px;
  }
}
.detail_color {
  color: #ec3552;
  margin-left: 10px;
}
.detail_big {
  font-size: 30px;
  color: #ec3552;
}
.home {
  width: 100%;
  height: 40px;
  display: flex;
  line-height: 40px;
  font-size: 13px;
  margin-top: 20px;
  background: #fff;
  .yixuan {
    color: #adadad;
    margin-right: 10px;
    margin-left: 10px;
  }
  .detail_home {
    margin-left: 80px;
  }
}
.view_one {
  width: 100%;
  height: 100px;
  // background: wheat;
  .popup_img {
    width: 120px;
    height: 120px;
    position: fixed;
    top: -30px;
    left: 10px;
  }
  .popup_onep {
    width: 300px;
    height: 60px;
    margin-left: 140px;
    margin-top: 10px;
  }
  .detail_yixuan {
    width: 300px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .popup_span {
    width: 100%;
    height: 30px;
    display: block;
    // background: darkcyan;
    margin-top: 25px;
    font-size: 14px;
    color: #a3a3a3;
    padding-left: 10px;
    line-height: 30px;
  }
  #popup_button {
    // width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 10px 0 10px;
    font-size: 14px;
  }
  //数量
  .popup_jiajian {
    width: 100%;
    height: 60px;
    // background: seagreen;
    display: flex;
    justify-content: space-between;
    .popup_number {
      // width: 100%;
      width: 100px;
      // background: salmon;
      height: 30px;
      display: inline-block;
      margin-top: 25px;
      font-size: 14px;
      color: #a3a3a3;
      padding-left: 10px;
      line-height: 30px;
      // margin-right: 160px;
    }
  }
  .popup_moshi {
    width: 100%;
    height: 50px;
    // background: steelblue;
    display: flex;
    position: fixed;
    bottom: 39px;
    .btn {
      width: 50%;
      height: 50px;
      // background: springgreen;
      border-radius: 0;
      margin-top: 38px;
      color: #fff;
    }
    .add_cart {
      background: #584e61;
    }
    .bye_now {
      background: #eb2444;
    }
  }
  .active {
    background: #eb2444;
    color: #fff;
  }
  .activedisabled {
    background: #ccc;
    color: #eee;
  }
  .activeno {
    width: 50%;
    height: 50px;
    // background: springgreen;
    border-radius: 0;
    margin-top: 38px;
    color: #fff;
    background: #ccc;
    color: #eee;
  }
  .lunbo_img {
    width: 500px !important;
    height: 700px !important;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .yanse {
    color: red !important;
  }
}

// 评价
.pingjiaz {
  width: 100%;
  height: 100px;
  background: #fff;
  margin: 20px 0;
  .pingjia {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d5d2d2;
    line-height: 50px;
    .pingjia_1 {
      font-size: 24px;
      margin-left: 10px;
      color: rgb(138, 130, 130);
    }
    .pingjia_2 {
      color: red;
      margin-left: 10px;
      font-size: 18px;
    }
    .pingjia_3 {
      float: right;
      margin-right: 30px;
    }
    .pingjia_4 {
      float: right;
      margin-right: -70px;
    }
  }
  .span_all {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text {
      border-radius: 5px;
      margin: 10px;
      display: inline-block;
      width: 60px;
      height: 30px;
      font-size: 14px;
      background: #fdf0f0;
      line-height: 30px;
      text-align: center;
    }
  }
  .shang {
    width: 100%;
    height: 300px;
    background: #ec3552;
  }
}
.popAll {
  width: 100%;
  height: 774px;
  .popAll_one {
    width: 100%;
    height: 50px;
    background: sandybrown;
  }
  .popup_moshi {
    width: 100%;
    height: 50px;
    // background: steelblue;
    display: flex;
    position: fixed;
    bottom: 39px;
    .btn {
      width: 50%;
      height: 50px;
      // background: springgreen;
      border-radius: 0;
      margin-top: 38px;
      color: #fff;
    }
    .add_cart {
      background: #584e61;
    }
    .bye_now {
      background: #eb2444;
    }
  }
  .pingjia {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #adadad;
    line-height: 50px;
    .pingjia_1 {
      font-size: 24px;
      margin-left: 10px;
      color: rgb(138, 130, 130);
    }
    .pingjia_2 {
      color: red;
      margin-left: 10px;
      font-size: 18px;
    }

    .popup_close {
      width: 5%;
      height: 30rpx;
      margin-left: 90%;
      margin-top: 10px;
      font-weight: 900;
      color: #a1a1a1;
      position: fixed;
      top: -5px;
      right: 3px;
    }
  }
}

.span_all {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text {
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    width: 60px;
    height: 30px;
    font-size: 14px;
    background: #fdf0f0;
    line-height: 30px;
    text-align: center;
  }
}
.service {
  width: 50px;
  height: 60px;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0);
  bottom: 0;
  text-indent: 100;
}

// 评价
.pingjiaz {
  width: 100%;
  height: 100px;
  background: #fff;
  margin: 20px 0;
  .pingjia {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d5d2d2;
    line-height: 50px;
    .pingjia_1 {
      font-size: 24px;
      margin-left: 10px;
      color: rgb(138, 130, 130);
    }
    .pingjia_2 {
      color: red;
      margin-left: 10px;
      font-size: 18px;
    }
    .pingjia_3 {
      float: right;
      margin-right: 30px;
    }
    .pingjia_4 {
      float: right;
      margin-right: -70px;
    }
  }
  .span_all {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text {
      border-radius: 5px;
      margin: 10px;
      display: inline-block;
      width: 60px;
      height: 30px;
      font-size: 14px;
      background: #fdf0f0;
      line-height: 30px;
      text-align: center;
    }
  }
  .shang {
    width: 100%;
    height: 300px;
    background: #ec3552;
  }
}
.popAll {
  width: 100%;
  height: 774px;
  .popAll_one {
    width: 100%;
    height: 50px;
    background: sandybrown;
  }
  .popup_moshi {
    width: 100%;
    height: 50px;
    // background: steelblue;
    display: flex;
    position: fixed;
    bottom: 39px;
    .btn {
      width: 50%;
      height: 50px;
      // background: springgreen;
      border-radius: 0;
      margin-top: 38px;
      color: #fff;
    }
    .add_cart {
      background: #584e61;
    }
    .bye_now {
      background: #eb2444;
    }
  }
  .pingjia {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #adadad;
    line-height: 50px;
    .pingjia_1 {
      font-size: 24px;
      margin-left: 10px;
      color: rgb(138, 130, 130);
    }
    .pingjia_2 {
      color: red;
      margin-left: 10px;
      font-size: 18px;
    }

    .popup_close {
      width: 5%;
      height: 30rpx;
      margin-left: 90%;
      margin-top: 10px;
      font-weight: 900;
      color: #a1a1a1;
      position: fixed;
      top: -5px;
      right: 3px;
    }
  }
}

.span_all {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text {
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    width: 60px;
    height: 30px;
    font-size: 14px;
    background: #fdf0f0;
    line-height: 30px;
    text-align: center;
  }
}
.service {
  width: 50px;
  height: 60px;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0);
  bottom: 0;
  text-indent: 100;
}
</style>