<template>
  <view>
    <view v-if="flag">
      <button @click="getUserInfo">登录</button>
    </view>
    <view id="Login_Wrap" v-else>
      <view class="Login_Header">
        <view class="Login_Image">
          <view class="ImageBox">
            <open-data type="userAvatarUrl"></open-data>
          </view>
        </view>
        <p>绑定手机号后可查看订单和领取优惠卷，<text>去绑定</text></p>
      </view>
      <view class="Login_DBox">
        <p @click="goOrder">我的订单<text>查看全部</text></p>
      </view>
      <view class="Login_LBox">
        <view class="List_Box" @click="go_DaiF">
          <view class="Img_Box">
            <img src="../../images/icon/toPay.png" alt="" />
            <view v-if="ZNmu < 1" class="Abs_Box1"> </view>
            <view v-else class="Abs_Box">
              {{ ZNum }}
            </view>
          </view>
          <view class="List_text">
            <text>待支付</text>
          </view>
        </view>
        <view class="List_Box" @click="go_DaiH">
          <view class="Img_Box">
            <img src="../../images/icon/toDelivery.png" alt="" />
            <view v-if="FNmu < 1"> </view>
            <view class="Abs_Box" v-else-if="SNmu > 1">
              {{ FNum }}
            </view>
          </view>
          <view class="List_text">
            <text>代发货</text>
          </view>
        </view>
        <view class="List_Box" @click="go_DaiS">
          <view class="Img_Box">
            <img src="../../images/icon/toTake.png" alt="" />
            <view v-if="SNmu < 1"> </view>
            <view class="Abs_Box" v-else-if="SNmu > 1">
              {{ SNum }}
            </view>
          </view>
          <view class="List_text">
            <text>待收货</text>
          </view>
        </view>
        <view class="List_Box" @click="go_DaiY">
          <view class="Img_Box">
            <img src="../../images/icon/toComment.png" alt="" />
            <view v-if="YNmu < 1"> </view>
            <view class="Abs_Box" v-else-if="YNmu > 1">
              {{ YNum }}
            </view>
          </view>
          <view class="List_text">
            <text>已完成</text>
          </view>
        </view>
      </view>
      <view class="Login_SBox">
        <view class="Title_Box" @click="goLike">
          <view>
            <p>{{ Like_num }}</p>
          </view>
          <view>
            <text>我的收藏</text>
          </view>
        </view>
        <view class="Title_Box">
          <view>
            <p>0</p>
          </view>
          <view>
            <text>我的消息</text>
          </view>
        </view>
        <view class="Title_Box">
          <view>
            <p>0</p>
          </view>
          <view>
            <text>我的足迹</text>
          </view>
        </view>
        <view class="Title_Box">
          <view>
            <p>0</p>
          </view>
          <view>
            <text>我的积分</text>
          </view>
        </view>
      </view>
      <view class="Login_ZBox" @click="goAddress">
        <view class="Z_list1">
          <img src="../../images/icon/myAddr.png" alt="" id="ZBox_Image" />
        </view>
        <view class="Z_List2">
          <text>收货地址</text>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { save_user_info, _login } from "../../services/login";
import { _Collect_Num, _Get_Order } from "../../services/My";
import navigate from "@/utils/utils.js";
export default {
  data() {
    return {
      flag: false,
      orderList: [],
      status: 0,
      Like_num: 0,
      Dlist: [
        {
          url: "../../images/icon/toPay.png",
          title: "待支付",
        },
        {
          url: "../../images/icon/toDelivery.png",
          title: "待发货",
        },
        {
          url: "../../images/icon/toTake.png",
          title: "待收货",
        },
        {
          url: "../../images/icon/toComment.png",
          title: "已完成",
        },
      ],
      ZNum: 0,
      FNum: 0,
      SNum: 0,
      YNum: 0,
      count: 0,
    };
  },
  onLoad() {
    this.login();
    this.collect();
    this.get_order();
  },
  methods: {
    async login() {
      const token = uni.getStorageSync("token");
      if (!token) {
        this.show = true;
      } else {
        this.show = false;
      }
      const [, { code }] = await uni.login();
      const result = await _login({
        principal: code,
      });
      uni.setStorageSync("token", result.access_token);
    },
    // 获取用户信息
    getUserInfo() {
      uni.getUserProfile({
        desc: "获取用户信息授权",
        success(res) {
          const { avatarUrl, nickName } = JSON.parse(res.rawData);
          // 设置用户信息
          save_user_info({
            avatarUrl,
            nickName,
          });
        },
        fail(err) {
          console.log(err);
        },
      });
    },
    Going_Ligon() {
      navigate({
        url: "/pages/login/index",
      });
    },
    async collect() {
      const res = await _Collect_Num();
      console.log(res, "res----_Collect_Num");
      this.Like_num = res;
    },
    goOrder() {
      uni.navigateTo({
        url: "/pages/orderPage/index",
      });
    },
    goAddress() {
      uni.navigateTo({
        url: "/pages/AddressPage/index",
      });
    },
    goLike() {
      uni.navigateTo({
        url: "/pages/LikePage/index",
      });
    },
    async get_order() {
      const res = await _Get_Order({
        current: 1,
        size: 10,
        status: this.status,
      });
      this.orderList = res.records;
      // console.log(res, "res_Get_Order");
      // console.log(this.orderList, " this.orderList,");
      this.count = this.orderList.length;
      this.orderList.forEach((item) => {
        if (item.status === 1) {
          this.ZNum++;
        } else if (item.status === 2) {
          this.FNum++;
        } else if (item.status === 3) {
          this.SNum++;
        } else if (item.status === 4) {
          this.YNum++;
        }
      });
      console.log(this.ZNum, this.FNum, this.SNum, this.YNum);
    },
    // 待支付
    go_DaiF() {
      uni.navigateTo({
        url: "/pages/orderPage/index?active=1",
      });
    },
    go_DaiH() {
      uni.navigateTo({
        url: "/pages/orderPage/index?active=2",
      });
    },
    go_DaiS() {
      uni.navigateTo({
        url: "/pages/orderPage/index?active=3",
      });
    },
    go_DaiY() {
      uni.navigateTo({
        url: "/pages/orderPage/index?active=4",
      });
    },
  },
};
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
  background: #eee;
}
#Login_Wrap {
  width: 100%;
  height: 100%;
  background: #eee;
}
/* 头部 */
.Login_Header {
  width: 100%;
  height: 120px;
  background: #fff;
}
.ImageBox {
  width: 80px;
  height: 80px;
  /* background: pink; */
  margin-left: 38%;
  border-radius: 50%;
  overflow: hidden;
}
.Login_Header p {
  font-size: 11px;
  line-height: 50px;
}
.Login_Header p text {
  color: red;
}
.Login_Image {
  width: 100%;
  height: 80px;
  background: #fff;
}
/*  */
.Login_DBox {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background: #fff;
}
.Login_DBox p {
  padding-left: 10px;
  font-size: 13px;
  line-height: 30px;
}
.Login_DBox p text {
  font-size: 10px;
  margin-left: 65%;
  color: #c5c5c5;
}
/* */
.Login_LBox {
  width: 100%;
  height: 75px;
  border-top: 1px solid #ccc;
  background: #fff;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}
.List_Box {
  width: 25%;
  height: 100%;
}
.Img_Box {
  width: 100%;
  height: 50%;
  padding-top: 13%;
  /* background: pink; */
  text-align: center;
}
.Img_Box img {
  /* margin-left: 15px; */
}
.pos_box {
  width: 100%;
  position: absolute;
}
.Abs_Box {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid red;
  color: red;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  top: -37px;
  left: 60px;
}
.Abs_Box1 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  top: -37px;
  left: 45px;
}
.List_Box img {
  /* padding-top: 10px; */
  width: 35px;
  height: 35px;
}
.List_text {
  width: 100%;
  height: 40%;
  margin-top: -8%;
  text-align: center;
  /* background: red; */
}
.List_text {
  width: 100%;
  height: 40%;
  margin-top: -8%;
  text-align: center;
  /* background: red; */
}
.List_Box text {
  font-size: 10px;
}
/*  */
.Login_SBox {
  width: 100%;
  height: 70px;
  background: #fff;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.Title_Box {
  width: 20%;
  margin-left: 4%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Title_Box view {
  text-align: center;
}
.Title_Box p {
  color: #66ccff;
  font-size: 20px;
}
.Title_Box text {
  font-size: 10px;
}
/*  */
.Login_ZBox {
  width: 100%;
  height: 40px;
  background: #fff;
  margin-top: 10px;
  display: flex;
}
.Z_List1 {
  width: 30px;
  height: 30px;
}
#ZBox_Image {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.Z_List2 {
  /* color: #fff; */
  line-height: 40px;
  background: #fff;
  font-size: 13px;
}
</style>
