<template>
  <view class="swiper">
    <view class="uni-margin-wrap">
      <swiper
        class="swiper"
        circular
        :indicator-dots="indicatorDots"
        :autoplay="autoplay"
        :interval="interval"
        :duration="duration"
        previous-margin="15px"
        next-margin="15px"
        indicator-color="white"
        indicator-active-color="blue"
      >
        <swiper-item v-for="(item, index) in imgList" :key="index">
          <view class="swiper-item">
            <image :src="item.imgUrl" alt="" class="swiper_img"></image>
          </view>
        </swiper-item>
      </swiper>
    </view>
  </view>
</template>

<script>
export default {
 name="swiper",
 props:{
    
     list:{
          type:any,
           default:()=>[]
     }
    
 }
};
</script>

<style>
</style>