<template>
  <view class="place_order_wrap">
    <!-- 地址 -->
    <view class="Ship_To_Address">
      <view class="Ship_To_Address_icon">
        <uni-icons type="location" size="25" color="#eb2443"></uni-icons>
      </view>
      <view class="Ship_To_Address_information">
        <view class="Ship_To_Address_information_title">
          <text>{{ orderAddress && orderAddress.receiver }}</text>
          <text class="i_config"></text>
          <text>{{ orderAddress && orderAddress.mobile }}</text>
        </view>
        <view class="Ship_To_Address_information_address">{{
          orderAddress
            ? `${orderAddress.province}${orderAddress.city}${orderAddress.area}`
            : ""
        }}</view>
      </view>
      <view class="Ship_To_Address_more">
        <uni-icons type="forward" size="20"></uni-icons>
      </view>
    </view>
    <!-- 商品列表 -->
    <view class="commodity_list">
      <!-- 需要渲染的数据盒子 -->
      <view class="commodity_list_item" v-for="(item,index) in orderList" :key="index">
        <!-- 渲染图片 -->
        <view class="commodity_list_item_image"> 
          <img :src="item.pic" alt="" class="_image">
        </view>
        <!-- 渲染商品的规格 -->
        <view class="commodity_list_item_detailed">
          <view class="commodity_list_item_detailed_title">{{item.prodName}}</view>
          <view class="commodity_list_item_detailed_skuData">{{item.skuName}}</view>
          <view class="commodity_list_item_detailed_Money">
            <view class="commodity_list_item_detailed_Money_unitPrice">
              <text class="RenMinBi">￥</text>
              <text class="Unit_Price">{{item.price}}</text>
            </view>
            <view class="commodity_list_item_detailed_Money_prodCount"
              >x<text>{{item.prodCount}}</text></view
            >
          </view>
        </view>
      </view>
      <view class="commodity_list_Total_price">
        <view class="commodity_list_Total_price_item">
          <text
            >共<text class="config_ui"></text>{{ totalCount
            }}<text class="config_ui"></text>件商品</text
          ><text class="config"></text
          ><text
            >合计：
            <text class="commodity_list_item_detailed_Money_unitPrice">
              <text class="RenMinBi">￥</text>
              <text class="Unit_Price">{{ actualTotal && actualTotal }}</text>
            </text></text
          >
        </view>
      </view>
    </view>

    <!-- 优惠券订单留言合作 -->
    <view class="other_orders">
      <!-- 优惠券列表 -->

      <view @click="toggle('bottom')" class="other_orders_popup">
        <view>
          <text class="place_order_title">优惠券：</text>
          <text class="place_order_title">暂无可用</text>
        </view>
        <view class="other_orders_popup_num">
          <text>0张</text>
          <text>></text>
        </view>
      </view>

      <!-- 买家留言 -->
      <view class="message_from_buyer other_orders_popup">
        <text class="place_order_title">买家留言：</text>
        <input type="text" placeholder="给卖家留言" class="place_order_title" />
      </view>
    </view>

    <!-- 订单运费等价格 -->
    <view class="order_amount">
      <!-- 订单总额 -->
      <view class="order_amount_msg_li">
        <view class="order_amount_msg">
          <text class="place_order_title">订单总额：</text>
        </view>
        <view class="order_amount_msg_money">
          <b class="order_amount_msg_money_RenMinBi _config">￥</b>
          <text>{{ actualTotal }}</text>
        </view>
      </view>
      <!-- 运费 -->
      <view class="order_amount_msg_li">
        <view class="order_amount_msg">
          <text class="place_order_title">运费：</text>
        </view>
        <view class="order_amount_msg_money">
          <b class="_config">￥</b>
          <text>{{ AllPrderData.orderReduce }}</text>
        </view>
      </view>
      <!-- 优惠金额 -->
      <view class="order_amount_msg_li">
        <view class="order_amount_msg">
          <text class="place_order_title">优惠金额：</text>
        </view>
        <view class="order_amount_msg_money">
          <b class="_config">-￥</b>
          <text>{{ AllPrderData.coupons ? AllPrderData.coupons : 0 }}</text>
        </view>
      </view>
      <!-- 小计： -->
      <view class="order_amount_msg_li">
        <view></view>
        <view class="order_amount_msg_money">
          <text class="place_order_title">小计：</text>
          <b class="_config">￥</b>
          <text>{{
            Number(actualTotal)
          }}</text>
        </view>
      </view>
    </view>

    <!-- 提交商品总价以及数量 -->
    <view class="order_submission">
      <view class="order_submission_total">
        合计：<text>
          <text class="order_submission_total_RenMinBi">￥</text>
          <text class="order_submission_total_money">{{actualTotal}}</text>
        </text>
      </view>

      <view class="order_submission_btn" @click="order_submit">提交订单</view>
    </view>

    <!-- 优惠券弹框 -->
    <uni-popup ref="popup" background-color="#fff" class="popup">
      <view class="popup_content">
        <!-- 弹框 头部 -->
        <view class="popup_content_header">
          <text class="popup_content_header_orders"> 优惠券 </text>
          <uni-icons type="closeempty" size="20"></uni-icons>
        </view>

        <!-- 弹框 内容 -->
        <view class="popup_content_tab">
          <view class="popup_content_tab_header">
            <view
              ><text @click="TabCheng()" :class="TabActive ? 'active' : ''"
                >可用优惠券(0)</text
              ></view
            >
            <view
              ><text @click="TabCheng()" :class="TabActive ? '' : 'active'"
                >不可用优惠券(0)</text
              ></view
            >
          </view>
          <view class="popup_content_tab_main">
            <view class="popup_content_tab_main_content" v-if="TabActive"
              >可用优惠券</view
            >
            <view class="popup_content_tab_main_content" v-else
              >不可用优惠券</view
            >
          </view>
        </view>

        <!-- 弹框 底部 -->
        <view class="popup_content_footer">
          <button class="popup_content_footer_btn">确定</button>
        </view>
      </view>
    </uni-popup>

    <!-- 库存不足提示框 -->
    <uni-popup ref="alertDialog" type="dialog">
      <uni-popup-dialog
        type="error"
        cancelText="关闭"
        confirmText="同意"
        title="通知"
        :content="ErrorMessage"
        @confirm="dialogConfirm"
        @close="dialogClose"
      ></uni-popup-dialog>
    </uni-popup>
  </view>
</template>

<script>
import "./index.scss";
import * as http from "../../services/placeorderApi";

export default {
  data() {
    return {
      ShopId: "",
      ErrorMessage: "",
      AllPrderData: {},
      totalCount: 0, // 总数
      actualTotal: 0, // 总价格
      orderList: [], // 提交渲染的数据
      orderAddress: {}, // 提交地址信息
      TabActive: true, // 弹框的 tab 切换状态
    };
  },

  onLoad() {
    // const eventChannel = this.getOpenerEventChannel();
    // const getOrderdata = this.getOrderdata
    // eventChannel.on("acceptDataFromOpenerPage", function (data) {
    //   getOrderdata(data)
    // });
    this.getOrderdata();
  },

  methods: {
    // 获取 订单页面 渲染所需要的数据
    getOrderdata() {
      (async () => {
        let obj = uni.getStorageSync("OrderData");
        let res = await http._getOrderInformation(obj);
        this.AllPrderData = res;
        this.orderAddress = res.userAddr;
        this.totalCount = res.totalCount;
        this.actualTotal = res.actualTotal;
        this.orderList = res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
        this.ShopId = res.shopCartOrders[0].shopId;
        this.orderList =
          res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
      })();
    },

    // 优惠券 弹框打开关闭事件
    toggle(type) {
      this.$refs.popup.open(type);
    },

    // 点击tab切换
    TabCheng() {
      this.TabActive = !this.TabActive;
    },

    // 点击跳入地址管理页面
    GoingAddress() {
      uni.navigateTo({
        url: `/pages/AddressPage/index`,
        events: {
          // 为指定事件添加一个监听器，获取被打开页面传送到当前页面的数据
          acceptDataFromOpenedPage: function (data) {
          },
          someEvent: function (data) {
          },
        },
      });
    },

    // 订单页面点击提交订单
    async order_submit() {
      // 生成 流水号（订单号）；
      try {
        let res = await http._getOrderSubmit({
          shopId: this.ShopId,
        });
        if (typeof res == "object" && res.orderNumbers) {
          // 跳转到支付页面
          uni.navigateTo({
            url: `/pages/SubmitPayment/index?orderNumbers=${res.orderNumbers}`,
          });
        } else {
          this.ErrorMessage = res;
          this.$refs.alertDialog.open();
        }
      } catch (error) {
      }
    },
    dialogConfirm() {
				this.messageText = `点击确认了 ${this.msgType} 窗口`
				this.$refs.message.open()
			},
    dialogClose() {
    },
  },
};
</script>

<style lang="scss" scoped>
.example-body {
  background-color: #fff;
  padding: 10px 0;
}
</style>
