.place_order_wrap {
    width: 100%;
    height: 92%;
    background-color: #eee;
    overflow: auto;

    .Ship_To_Address {
        width: 100%;
        height: 120rpx;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Ship_To_Address_icon {
            width: 10%;
            text-align: center;

            .Ship_To_Address_icon_item {
                color: #eb2443;
            }
        }

        .Ship_To_Address_information {
            width: 85%;
            font-size: 28rpx;
            height: 100%;

            .i_config {
                padding: 0 10rpx;
            }

            view {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
            }

            .Ship_To_Address_information_address {
                font-size: 25rpx;
                color: #999;
            }
        }

        .Ship_To_Address_more {
            width: 8%;
            text-align: center;
        }
    }

    .order_submission {
        width: 100%;
        height: 100rpx;
        background-color: #fff;
        position: fixed;
        bottom: 20rpx;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .order_submission_total {
            padding: 0 19rpx;

            .order_submission_total_RenMinBi {
                font-size: 12px;
                font-weight: bold;
                color: #eb2443;
            }

            .order_submission_total_money {
                color: #eb2443;
            }
        }

        .order_submission_btn {
            width: 30%;
            height: 100%;
            background-color: #eb2443;
            color: #fff;
            font-size: 28rpx;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // <!-- 商品列表 -->
    .commodity_list {
        width: 100%;
        height: auto;
        margin: 10px 0;

        // <!-- 需要渲染的数据盒子 -->
        .commodity_list_item {
            width: 100%;
            height: 220rpx;
            background-color: #fff;
            display: flex;
            justify-content: space-between;

            .commodity_list_item_image {
                width: 240rpx;
                height: 100%;
                overflow: hidden;
                padding: 10px;

                ._image {
                    width: 100%;
                    height: 85%;
                    background-color: skyblue;
                }
            }

            .commodity_list_item_detailed {
                flex: 1;
                background-color: #fff;
                padding: 10px;
                position: relative;

                .commodity_list_item_detailed_title {
                    width: 450rpx;
                    height: 60rpx;
                    overflow: hidden;
                    line-height: 60rpx;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .commodity_list_item_detailed_skuData {
                    width: 100%;
                    height: 60rpx;
                    line-height: 59rpx;
                    font-size: 12px;
                    color: #999;
                }

                .commodity_list_item_detailed_Money {
                    width: 100%;
                    height: 70rpx;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .commodity_list_item_detailed_Money_unitPrice {
                        .RenMinBi {
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }

                    .commodity_list_item_detailed_Money_prodCount {
                        color: #999;
                        font-size: 12px;
                    }
                }
            }
        }

        .commodity_list_Total_price {
            width: 100%;
            height: 80rpx;
            line-height: 80rpx;
            background-color: #fff;
            border-top: 1px solid #eee;

            .commodity_list_Total_price_item {
                float: right;
                // width: 60%;
                height: 100%;
                margin: 0 30rpx;

                .config {
                    padding: 0 5px;
                }
                .config_ui{
                    padding: 0 3px;
                }

                .commodity_list_item_detailed_Money_unitPrice {
                    .RenMinBi {
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    // 优惠券列表
    .other_orders {
        width: 100%;
        height: auto;
        background-color: #fff;
        margin-bottom: 10px;
    }

    .other_orders_popup {
        width: 95%;
        height: 80rpx;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;

        .other_orders_popup_num {
            color: #999;
            font-size: 13px;
        }
    }

    .message_from_buyer {
        border-top: 1px solid #ccc;

        input {
            width: 80%;
        }
    }

    .order_amount {
        width: 100%;
        height: auto;

        .order_amount_msg_li {
            width: 95%;
            height: 80rpx;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            .order_amount_msg_money {
                display: flex;
                color: #eb2443;

                b {
                    font-size: 23rpx;
                    font-weight: bold;
                }
            }
        }
    }

    .place_order_title {
        font-size: 14px;
    }

    // 弹框
    .popup {
        width: 100%;
        height: 70%;
    }

    .popup_content {
        background-color: #eee;
        width: 100%;
        min-height: 1000rpx;
        position: relative;

        .popup_content_header {
            width: 95%;
            height: 88rpx;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 0 20rpx;
            align-items: center;

            .popup_content_header_orders {
                font-weight: bold;
            }
        }

        .popup_content_tab {
            width: 100%;
            height: 840rpx;
            background-color: #eee;
            overflow: auto;

            .popup_content_tab_header {
                width: 100%;
                height: 100rpx;
                background-color: #fff;
                display: flex;
                justify-content: space-around;
                align-items: center;

                text {
                    display: inline-block;
                    height: 100rpx;
                    line-height: 100rpx;
                    border-bottom: 2px solid #fff;
                }

                .active {
                    font-weight: bold;
                    border-bottom: 2px solid #eb2443;
                }
            }

            .popup_content_tab_main {
                width: 100%;
                height: auto;
                text-align: center;
            }
        }

        .popup_content_footer {
            width: 100%;
            height: 130rpx;
            background-color: #fff;
            position: fixed;
            bottom: 20rpx;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .popup_content_footer_btn {
                width: 70%;
                border-radius: 30rpx;
                background: linear-gradient(to right, #eb2443, tomato);
                color: #fff;
                font-size: 26rpx;
            }
        }

    }
    ._config{
        display: inline-block;
        padding: 0 10rpx;
        padding-top: 10rpx;
    }
}