<template>
    <view class="shopcart-wrap">
      <!-- 列表渲染部分 -->
      <view class="shopcart-list" v-if="shopcarData.length">
        <!-- 每一项数据 -->
        <view
          class="shopcart-list-wrap"
          v-for="item in shopcarData"
          :key="item.shopId"
        >
          <!-- 商家标题 -->
          <view class="shopcart-list-box-dianjia">
            <label bindtap="AllChange" class="dianjia_check">
              <checkbox
                :value="item.shopId"
                color="#f7d731"
                style="transform: scale(0.7)"
              /><text class="dianjia_title">{{ item.shopName }}</text></label
            >
            <text class="dianjia_manjian">满200减30</text>
          </view>
          <!-- 店铺数据渲染 -->
          <view v-for="(val,index) in item.shopCartItemDiscounts[0].shopCartItems" :key="index">
            <!-- 满减处 -->
            <view class="shopcart-list-box">
              <text class="shopcart-list-box-manjian">满额减</text>
              <text class="shopcart-list-box-message">购买500元减100元</text>
            </view>
            <view class="shopcart-list-item">
              <!-- 每一项数据的单选按钮 -->
              <view class="shopcart-list-item-checkout">
                <checkbox-group @change="ItemChecked_Click">
                  <checkbox
                    :value="val.basketId"
                    style="transform: scale(0.7)"
                    class="shopcart-list-item-checkbox"
                  />
                </checkbox-group>
              </view>
              <!-- 展示的图片 -->
              <view class="shopcart-list-item-image">
                <image :src="val.pic" class="shopcar-image" />
              </view>
              <view class="shopcart-list-item-data">
                <!-- 商品介绍 -->
                <view class="shopcart-list-item-data-title">
                  {{val.prodName}}
                </view>
                <!-- 商品参数 -->
                <view class="shopcart-list-item-data-config">
                  <view class="shopcart-list-item-data-config-text">
                    <text>{{val.skuName}}</text>
                  </view>
                </view>
  
                <view class="shopcart-list-item-data-utils">
                  <!-- 商品价格 -->
                  <view>
                    <text class="TotalAmount"
                      >￥<text class="TotalAmount-item">{{val.price}}</text></text
                    >
                  </view>
                  <!-- 商品数量加减按钮 -->
                  <view class="shopcart-list-item-data-utils-btn">
                    <text class="shopcart_btn">-</text>
                    <text class="shopcart_num">{{val.prodCount}}</text>
                    <text class="shopcart_btn">+</text>
                  </view>
                </view>
              </view>
            </view>
          </view>
        </view>
      </view>
      <!-- 如果购物车没有数据展示空状态 -->
      <Empty v-else></Empty>
  
      <!-- 底部功能 部分 -->
      <view class="shopcart-utils">
        <view class="shopcart-utils-list">
          <!-- 全选按钮 -->
          <view class="shopcart-utils-list-allcheckbox">
            <label bindtap="AllChange">
              <checkbox :checked="AllCheckbox" color="#f7d731;" />全选</label
            >
          </view>
          <!-- 删除按钮 -->
          <view class="shopcart-utils-list-delete"><text>删除</text></view>
          <!-- 总价 -->
          <view class="shopcart-utils-list-TotalAmount">
            合计&nbsp;:&nbsp;<text class="TotalAmount"
              >￥<text class="TotalAmount-item">1</text>.01</text
            >
          </view>
        </view>
        <!-- 结算 -->
        <view class="shopcart-utils-submit">
          <text>结算({{ cartNum }})</text>
        </view>
      </view>
    </view>
  </template>
  
  <script>
  import * as http from "../../services/shopCartApi";
  import Empty from "./components/shopcar-empty/index.vue";
  export default {
    data() {
      return {
        AllCheckbox: false, // 全选按钮的状态
        shopcarData: [], // 用户购物车数据
        cartNum: 0, // 购物车数量
        checkData: [],
      };
    },
    onLoad() {
      this.GetShopcartData();
    },
    methods: {
      // 请求购物车的渲染数据
      async GetShopcartData() {
        let res = await http._getCartList();
        this.shopcarData = res;
      },
  
      // 获取购物车商品数量
      async GetShopCartNum() {
        let res = await http._getCartNum();
        this.cartNum = res;
      },
  
      // 点击全选按钮的时候
      AllChange(e) {
        this.AllCheckbox = !this.AllCheckbox;
      },
  
      // 点击 单选按钮的时候,将选中的 数据添加到数组中
      ItemChecked_Click(e) {
        let val = e.target.value[0];
  
        if (this.checkData.length == 0) {
          this.checkData.push(val);
        } else {
          this.checkData.forEach((item, index) => {
            if (item == val) {
              this.checkData.push(val);
            } else {
              this.checkData.splice(index, 1);
            }
          });
        }
      },
    },
    components: {
      Empty,
    },
  };
  </script>
  
  <style lang="scss" scoped>
  .shopcart-wrap {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    background-color: #eee;
    .shopcart-utils {
      width: 100%;
      height: 10%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      position: fixed;
      left: 0;
      bottom: 0;
      .shopcart-utils-list {
        width: 69%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .shopcart-utils-list-allcheckbox {
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .shopcart-utils-list-delete {
          width: 20%;
          text-align: center;
          color: rgb(87, 135, 231);
        }
        .shopcart-utils-list-TotalAmount {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          .TotalAmount {
            color: #eb2443;
            .TotalAmount-item {
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }
      .shopcart-utils-submit {
        width: 30%;
        height: 100%;
        background-color: #eb2443;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }
  
    .shopcart-list {
      width: 100%;
      height: 100%;
      // background-color: pink;
      // overflow: hidden;
      .shopcart-list-wrap {
        width: 100%;
        background-color: #fff;
        margin: 10px 0;
        padding-bottom: 10px;
        .shopcart-list-box-dianjia {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dianjia_check {
            margin: 0 5px;
            .dianjia_title {
              font-weight: bold;
              font-size: 18px;
              margin: 0 5px;
            }
          }
          .dianjia_manjian {
            font-size: 12px;
            color: #ccc;
            display: inline-block;
            margin: 0 5px;
            border: 1px solid #eb2443;
            padding: 2px;
            border-radius: 2px;
            color: #eb2443;
          }
        }
        .shopcart-list-box {
          width: 100%;
          height: 40px;
          border-bottom: 1px solid #eee;
          display: flex;
          align-items: center;
  
          .shopcart-list-box-manjian {
            font-size: 12px;
            margin: 0 10px;
            color: #eb2443;
            border: 1px solid #eb2443;
            border-radius: 4px;
            padding: 0 3px;
          }
          .shopcart-list-box-message {
            font-size: 12px;
            color: #333;
          }
        }
        .shopcart-list-item {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          .shopcart-list-item-image {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .shopcar-image {
              width: 100px;
              height: 100px;
              background-color: #eee;
            }
          }
          .shopcart-list-item-data {
            width: 65%;
            height: 100%;
            .shopcart-list-item-data-title {
              width: 100%;
              height: 30px;
              overflow: hidden;
              white-space: normal;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
  
              padding: 5px;
              line-height: 29px;
            }
            .shopcart-list-item-data-config {
              .shopcart-list-item-data-config-text {
                text {
                  border-radius: 5px;
                  display: inline-block;
                  background-color: #eee;
                  margin: 10px 20px;
                  padding: 2px 8px;
                  color: #666;
                }
              }
            }
            .shopcart-list-item-data-utils {
              display: flex;
              justify-content: space-between;
              padding: 0 10px;
              height: 30px;
              align-items: center;
              .TotalAmount {
                color: #eb2443;
                .TotalAmount-item {
                  font-size: 18px;
                }
              }
              .shopcart-list-item-data-utils-btn {
                display: flex;
                height: 100%;
                font-size: #666;
                .shopcart_btn {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid #ccc;
                  border-radius: 3px;
                  font-size: 20px;
                }
                .shopcart_num {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
  
          .shopcart-list-item-checkbox {
            margin: 0 3px;
          }
        }
      }
    }
  }
  </style>
  