<template>
  <view class="shopcart-wrap">
    <!-- 列表渲染部分 -->
    <view class="shopcart-list" v-if="shopcarData.length">
      <!-- 每一项数据 -->
      <view
        class="shopcart-list-wrap"
        v-for="item in shopcarData"
        :key="item.shopId"
      >
        <checkbox-group @change="ItemChecked_Click">
          <!-- 商家标题 -->
          <view class="shopcart-list-box-dianjia">
            <label bindtap="AllChange" class="dianjia_check">
              <!-- <checkbox :value="item.shopId" color="#f7d731" style="transform: scale(0.7)" /> -->
              <text class="dianjia_title">{{ item.shopName }}</text></label
            >
            <text class="dianjia_manjian">满200减30</text>
          </view>
          <!-- 店铺数据渲染 -->
          <view
            v-for="(val, index) in item.shopCartItemDiscounts[0].shopCartItems"
            :key="index"
          >
            <!-- 满减处 -->
            <view class="shopcart-list-box">
              <text class="shopcart-list-box-manjian">满额减</text>
              <text class="shopcart-list-box-message">购买500元减100元</text>
            </view>
            <view class="shopcart-list-item">
              <!-- 每一项数据的单选按钮 -->
              <view class="shopcart-list-item-checkout">
                <checkbox
                  color="#eb2443"
                  :value="val.basketId"
                  :checked="val.checked"
                  style="transform: scale(0.8)"
                  class="shopcart-list-item-checkbox"
                />
              </view>
              <!-- 展示的图片 -->
              <view class="shopcart-list-item-image">
                <image
                  :src="val.pic"
                  class="shopcar-image"
                  @click="GoingDetails(val.prodId)"
                />
              </view>
              <view class="shopcart-list-item-data">
                <!-- 商品介绍 -->
                <view class="shopcart-list-item-data-title">
                  {{ val.prodName }}
                </view>
                <!-- 商品参数 -->
                <view class="shopcart-list-item-data-config">
                  <view class="shopcart-list-item-data-config-text">
                    <text>{{ val.skuName }}</text>
                  </view>
                </view>

                <view class="shopcart-list-item-data-utils">
                  <!-- 商品价格 -->
                  <view>
                    <text class="TotalAmount"
                      >￥<text class="TotalAmount-item">{{
                        val.price
                      }}</text></text
                    >
                  </view>
                  <!-- 商品数量加减按钮 -->
                  <view class="shopcart-list-item-data-utils-btn">
                    <text
                      class="shopcart_btn"
                      @click="cartItemCount(val, false, -1)"
                      >-</text
                    >
                    <text class="shopcart_num">{{ val.prodCount }}</text>
                    <text
                      class="shopcart_btn"
                      @click="cartItemCount(val, true, 1)"
                      >+</text
                    >
                  </view>
                </view>
              </view>
            </view>
          </view>
        </checkbox-group>
      </view>
      <button @click="GoingAddress">添加地址</button>
      <button @click="GoingcustomerService">客服中心</button>
      <button @click="Goingpay">支付</button>
    </view>
    <!-- 如果购物车没有数据展示空状态 -->
    <Empty v-else></Empty>

    <!-- 底部功能 部分 -->
    <view class="shopcart-utils">
      <view class="shopcart-utils-list">
        <!-- 全选按钮 -->
        <view class="shopcart-utils-list-allcheckbox">
          <checkbox-group @change="AllChange">
            <label>
              <checkbox
                color="#eb2443"
                :checked="AllCheckbox"
                class="shopcart-list-item-checkbox"
              />全选</label
            >
          </checkbox-group>
        </view>
        <!-- 删除按钮 -->
        <view class="shopcart-utils-list-delete" @click="CartDeleteItem"
          >删除</view
        >
        <!-- 总价 -->
        <view class="shopcart-utils-list-TotalAmount">
          合计&nbsp;:&nbsp;<text class="TotalAmount"
            >￥<text class="TotalAmount-item">{{ cartTotal }}</text></text
          >
        </view>
      </view>
      <!-- 结算 -->
      <view class="shopcart-utils-submit" @click="placeOrider">
        <text>结算({{ cartNum ? cartNum : 0 }})</text>
      </view>
    </view>
    <uni-popup ref="message" type="message">
      <uni-popup-message
        type="warn"
        message="您还没选择商品,请选择商品"
        :duration="2000"
      ></uni-popup-message>
    </uni-popup>
  </view>
</template>

<script>
import "./index.scss";
import { throttling } from "./utils/debounce";
import * as http from "../../services/shopCartApi";
import Empty from "./components/shopcar-empty/index.vue";

export default {
  data() {
    return {
      cartNum: 0, // 选中商品 数量
      cartTotal: 0, // 选中商品总价
      prodIdData: [], // 选中的商品,存放的id
      shopcarData: [], // 用户购物车数据
      AllCheckbox: false, // 全选按钮的状态
      placeOriderData: [1], // 提交时候 存放选择的数据
    };
  },
  onLoad() {
    this.GetShopcartData();
    this.GetShopCartNum();
    this.checkTotalPrice();
    if (this.prodIdData.length < 1) this.AllCheckbox = false;
  },

  methods: {
    // 点击跳转到支付测试
    Goingpay() {
      uni.navigateTo({
        url: "/pages/SubmitPayment/index",
        
      });
    },

    // 点击跳转地图选址
    GoingAddress() {
      uni.navigateTo({
        url: "/pages/address/index",
      });
    },

    // 点击 去客服页面
    GoingcustomerService() {
      uni.navigateTo({
        url: "/pages/customerService/index",
      });
    },

    // 点击提交订单--------------------------------------
    placeOrider: throttling(function () {
      let data = {
        addrId: 0,
        basketIds: this.prodIdData,
      };
      uni.setStorageSync("OrderData", data);

      let params = {
        url: `/pages/placeOrder/index`,
        success: function (res) {
          // 通过eventChannel向被打开页面传送数据
          res.eventChannel.emit("acceptDataFromOpenerPage", data);
        },
      };
      if (this.prodIdData.length >= 1) {
        uni.navigateTo(params);
      } else {
        this.$refs.message.open();
      }
    }, 300),

    // 请求购物车的渲染数据------------------------------
    async GetShopcartData() {
      let res = await http._getCartList();
      if (res.length > 0) {
        res.forEach((item) => {
          item.shopCartItemDiscounts[0].shopCartItems.forEach((val) => {
            val.checked = false; // 默认不选中
          });
        });
      } else {
        this.shopcarData = [];
      }
      this.shopcarData = res;
      this.prodIdData = [];
    },

    // 计算选中商品的总价--------------------------------
    async checkTotalPrice() {
      let res = await http._getTotal(this.prodIdData);
      this.cartNum = res.count;
      this.cartTotal = res.totalMoney;
    },

    // 点击全选按钮的时候--------------------------------
    AllChange: throttling(async function () {
      let arr = [];
      this.AllCheckbox = !this.AllCheckbox;
      this.shopcarData.forEach((item) => {
        item.shopCartItemDiscounts[0].shopCartItems.forEach((val) => {
          val.checked = this.AllCheckbox;
          if (val.checked) {
            arr.push(String(val.basketId));
          }
        });
      });

      this.prodIdData = arr;
      await this.checkTotalPrice();
    }, 300),

    // 点击 单选按钮的时候,将选中的 数据添加到数组中-----
    ItemChecked_Click: throttling(function (e) {
      let arr = e.detail.value; // 选中状态的选项的value存放的数据
      this.shopcarData.forEach((item) => {
        item.shopCartItemDiscounts[0].shopCartItems.forEach((val) => {
          if (arr.includes(String(val.basketId)))
            val.checked = true; // 点击单选时候，更改点击的数据的状态
          else val.checked = false;
        });
      });

      // 点击单选按钮的时候监控全选按钮的状态
      this.shopcarData.forEach((item) => {
        this.AllCheckbox = item.shopCartItemDiscounts[0].shopCartItems.every(
          (val) => val.checked
        );
      });

      this.prodIdData = arr;
      this.checkTotalPrice();
    }, 300),

    // 商品数量的增减------------------------------------
    cartItemCount: throttling(async function (val, flag, num) {
      let obj = {
        basketId: val.basketId,
        count: num,
        distributionCardNo: val.distributionCardNo,
        prodId: val.prodId,
        shopId: val.shopId,
        skuId: val.skuId,
      };

      if (flag) {
        await http._getCartChangeItem(obj);
      } else {
        await http._getCartChangeItem(obj);
      }
      this.checkTotalPrice(); // 计算总价
      this.GetShopcartData(); // 重新请求数据
    }, 300),

    // 获取购物车商品数量--------------------------------
    async GetShopCartNum() {
      let res = await http._getCartNum();
      this.cartNum = res;
    },

    // 删除单个或者多个购物车商品------------------------
    async CartDeleteItem() {
      if (this.prodIdData.length > 0) {
        let params = [];
        this.prodIdData.forEach((item) => {
          params.push(Number(item));
        });
        await http._deleteUserCart({ params });
        this.GetShopcartData();
        this.checkTotalPrice();
      } else {
        return;
      }
    },

    // 点击跳详情
    GoingDetails(id) {
      // console.log(id);
      // uni.navigateTo({
      //   url:"/pages/detail/index",
      // })
      this.$goPage({
        url: "/pages/detail/index",
        redirect: false,
        query: {
          prodId: id,
        },
      });
    },
  },

  components: {
    // 注册组件
    Empty,
  },
};
</script>
