.shopcart-wrap {
    width: 100%;
    height: 93%;
    overflow-y: auto;
    background-color: #eee;

    .shopcart-utils {
        width: 100%;
        height: 7%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;

        .shopcart-utils-list {
            width: 69%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .shopcart-utils-list-allcheckbox {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
            }

            .shopcart-utils-list-delete {
                width: 10%;
                text-align: center;
                color: #eb2443;
                font-size: 25rpx;
            }

            .shopcart-utils-list-TotalAmount {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 10px;

                .TotalAmount {
                    color: #eb2443;

                    .TotalAmount-item {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }

        .shopcart-utils-submit {
            width: 27%;
            height: 100%;
            background-color: #eb2443;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
    }

    .shopcart-list {
        width: 100%;
        height: 100%;

        // background-color: pink;
        // overflow: hidden;
        .shopcart-list-wrap {
            width: 100%;
            background-color: #fff;
            margin: 10px 0;
            padding-bottom: 10px;

            .shopcart-list-box-dianjia {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .dianjia_check {
                    margin: 0 5px;

                    .dianjia_title {
                        font-weight: bold;
                        font-size: 18px;
                        margin: 0 5px;
                    }
                }

                .dianjia_manjian {
                    font-size: 12px;
                    color: #ccc;
                    display: inline-block;
                    margin: 0 5px;
                    border: 1px solid #eb2443;
                    padding: 2px;
                    border-radius: 2px;
                    color: #eb2443;
                }
            }

            .shopcart-list-box {
                width: 100%;
                height: 40px;
                border-bottom: 1px solid #eee;
                display: flex;
                align-items: center;

                .shopcart-list-box-manjian {
                    font-size: 12px;
                    margin: 0 10px;
                    color: #eb2443;
                    border: 1px solid #eb2443;
                    border-radius: 4px;
                    padding: 0 3px;
                }

                .shopcart-list-box-message {
                    font-size: 12px;
                    color: #333;
                }
            }

            .shocar_list{
                width: 100%;
                height: auto;
                position: relative;
                .shopcart-list-item-delete{
                    position: absolute;
                    top: 0;
                    left: 90%;
                    width: 20%;
                    height: 120px;
                    background-color: #eb2443;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .shopcart-list-item {
                width: 100%;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .shopcart-list-item-image {
                    width: 25%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .shopcar-image {
                        width: 100px;
                        height: 100px;
                        background-color: #eee;
                    }
                }

                .shopcart-list-item-data {
                    width: 65%;
                    height: 100%;

                    .shopcart-list-item-data-title {
                        width: 100%;
                        height: 30px;
                        overflow: hidden;
                        white-space: normal;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                        padding: 5px;
                        line-height: 29px;
                    }

                    .shopcart-list-item-data-config {
                        .shopcart-list-item-data-config-text {
                            text {
                                border-radius: 5px;
                                display: inline-block;
                                background-color: #eee;
                                margin: 10px 5px;
                                padding: 2px 8px;
                                color: #666;
                            }
                        }
                    }

                    .shopcart-list-item-data-utils {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 10px;
                        height: 30px;
                        align-items: center;

                        .TotalAmount {
                            color: #eb2443;

                            .TotalAmount-item {
                                font-size: 18px;
                            }
                        }

                        .shopcart-list-item-data-utils-btn {
                            display: flex;
                            height: 100%;
                            font-size: #666;

                            .shopcart_btn {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #ccc;
                                border-radius: 3px;
                                font-size: 20px;
                            }

                            .shopcart_num {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }

               
            }
        }
    }
} .shopcart-list-item-checkbox {
    margin: 0 5px;
}