<template>
  <view class="order_Wrap">
    <view class="Tab_Wrap">
      <view class="Top_Wrap">
        <ul>
          <li
            v-for="(i, index) in list"
            :key="index"
            :class="index == active ? 'active' : ''"
            @click="TabBtn(index)"
          >
            {{ i.title }}
          </li>
        </ul>
      </view>
      <view class="Bottom_Wrap">
        <view v-if="list[active].children && list[active].children.length >= 1">
          <view v-for="(item, index) in list[active].children" :key="index">
            <view class="Wrap_Box">
              <view class="D_Box" v-if="item.status === 1"
                >订单编号:{{ item.orderNumber }}<text>待支付</text></view
              >
              <view class="D_Box1" v-if="item.status === 6"
                >订单编号:{{ item.orderNumber }}<text>已取消 |</text>
                <uni-icons
                  type="trash-filled"
                  size="17"
                  class="iconBox"
                  color="#ccc"
                  @click="delete_order(item.orderNumber)"
                ></uni-icons>
              </view>
              <view class="F_Box">
                <view class="L_Box"
                  ><img :src="item.orderItemDtos[0].pic"
                /></view>
                <view class="R_Box">
                  <view class="T_Box">{{
                    item.orderItemDtos[0].prodName
                  }}</view>
                  <view class="P_Box">{{ item.orderItemDtos[0].skuName }}</view>
                  <view class="Q_Box"
                    >￥{{ item.orderItemDtos[0].prodCount }}</view
                  >
                </view>
              </view>
              <p class="P_Box1">
                共计{{ item.prodCount }}件商品,合计 ￥{{
                  item.orderItemDtos[0].price
                }}
              </p>
              <view class="B_Box" v-if="item.status === 1">
                <button
                  class="clone_btn"
                  @click="clone_order(item.orderNumber)"
                >
                  取消订单</button
                ><button class="R_Btn">再次购买</button
                ><button id="Z_Btn">付款</button>
              </view>
              <view class="B_Box" v-if="item.status === 6">
                <button class="R_Btn1">再次购买</button>
              </view>
            </view>
          </view>
        </view>
        <view v-else class="K_Box">
          <p>还没有任何相关订单</p>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { _Get_Order } from "../../services/My";
import { _Clone_Order, _Delete_Order } from "../../services/order";
export default {
  data() {
    return {
      type: "center",
      msgType: "success",
      messageText: "这是一条成功提示",
      list: [
        {
          title: "全部",
          children: [],
        },
        {
          title: "待支付",
          children: [],
        },
        {
          title: "待发货",
          children: [],
        },
        {
          title: "待收货",
          children: [],
        },
        {
          title: "已完成",
          children: [],
        },
      ],
      active: 0,
      orderList: [],
    };
  },
  onLoad(option) {
    this.get_Order(); //接口请求方法
    this.active = option.active;
    // console.log(this.active, "this.active ");
  },
  onShow() {
    //更新之后让他再次触发请求接口
    // this.get_order(); //接口请求方法
  },
  methods: {
    TabBtn(index) {
      this.active = index;
      // console.log(this.active);
      // console.log();
    },
    clone_order(orderNumber) {
      // 取消订单
      console.log(orderNumber);
      let _this = this;
      uni.showModal({
        title: "确定要取消吗",
        success: function (res) {
          if (res.confirm) {
            // console.log("用户点击确定");
            const result = _Clone_Order(orderNumber); //取消订单接口
            // console.log(result, "取消订单");
            _this.get_Order();
          } else if (res.cancel) {
            // console.log("用户点击取消");
          }
        },
      });
    },
    delete_order(orderNumber) {
      //删除订单
      let _this = this;
      uni.showModal({
        title: "确定删除吗",
        success: function (res) {
          if (res.confirm) {
            // console.log("用户点击确定");
            const res = _Delete_Order(orderNumber); //删除订单接口
            _this.get_Order();
            // console.log(res, "删除接口");
          } else if (res.cancel) {
            // console.log("用户点击取消");
          }
        },
      });
    },
    async get_Order() {
      const res = await _Get_Order({
        current: 1,
        size: 10,
        status: 0,
      });
      this.list[0].children = res.records;
      const res1 = await _Get_Order({
        current: 1,
        size: 10,
        status: 1,
      });
      this.list[1].children = res1.records;
      const res2 = await _Get_Order({
        current: 1,
        size: 10,
        status: 2,
      });
      this.list[2].children = res2.records;
      const res3 = await _Get_Order({
        current: 1,
        size: 10,
        status: 3,
      });
      this.list[3].children = res3.records;
      const res4 = await _Get_Order({
        current: 1,
        size: 10,
        status: 3,
      });
      this.list[4].children = res4.records;
      // console.log(this.list);
    },
  },
};
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
  /* background: skyblue; */
  font-size: 11px;
}
.order_Wrap {
  width: 100%;
  height: 100%;
}
.Tab_Wrap {
  width: 100%;
  height: 100%;
  /* background: pink; */
  display: flex;
  flex-direction: column;
}
.Top_Wrap {
  width: 100%;
  height: 40px;
  background: #fff;
}
.Top_Wrap ul {
  display: flex;
}
.Top_Wrap ul li {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 13px;
  line-height: 40px;
}
.Bottom_Wrap {
  flex: 1;
  background: #eee;
  overflow: auto;
}
.active {
  border-bottom: 3px solid red !important;
  color: red;
}
button {
  width: 70px;
  height: 25px;
  border-radius: 50px;
  font-size: 10px;
  line-height: 24px;
  float: left;
  margin-left: 7px;
  margin-right: 1px;
}
.D_Box1 {
  margin-left: 20px;
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.D_Box text {
  margin-left: 95px;
  color: red;
}
.D_Box1 {
  margin-left: 20px;
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.D_Box1 text {
  margin-left: 70px;
  color: #ccc;
}
.iconBox {
  margin-left: -70px;
  margin-top: 16px;
}
.B_Box {
  width: 100%;
  height: 30px;
}
.R_Btn {
  border: 1px solid red;
  color: red;
}
.clone_btn {
  margin-left: 70px;
}
.Wrap_Box {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  background: #fff;
}
img {
  width: 70px;
  height: 70px;
}
.F_Box {
  width: 100%;
  height: 80px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.L_Box {
  margin-left: 10px;
}
.T_Box {
  margin-left: 5px;
  margin-right: 3px;
}
.P_Box {
  height: 20px;
  line-height: 20px;
  margin-left: 5px;
  font-size: 8px;
  color: rgb(34, 19, 19);
}
.P_Box1 {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.B_Box {
  margin-top: 5px;
}
#Z_Btn {
  border: 1px solid red;
  color: red;
}
.R_Btn1 {
  margin-left: 75%;
  border: 1px solid red;
  color: red;
}
.K_Box p {
  text-align: center;
  color: #ccc;
  font-size: 15px;
  line-height: 100px;
}
</style>