<template>
  <view class="site_selection_wrap">
    <button @click="checkLocation">在地图上选址</button>
  </view>
</template>
<script>
const chooseLocation = requirePlugin("chooseLocation");
export default {
  data() {
    return {};
  },
  // 从地图选点插件返回后，在页面的onShow生命周期函数中能够调用插件接口，取得选点结果对象
  onShow() {
    const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
    console.log(location, "-------------");
  },
  methods: {
    checkLocation() {
      const key = "DESBZ-7W66U-HEOVF-4H2R3-EUFNZ-UYFIP"; //使用在腾讯位置服务申请的key
      const referer = "八位电商平台"; //调用插件的app的名称
      const location = JSON.stringify({
        // 设置 中心点为
        latitude: 39.905083,
        longitude: 116.399194,
      });
      const rest = uni.getLocation({
        type: "wgs84",
        success: function (res) {
          console.log(res, "res");
        },
      });
      const category = "收货地址";

      // 跳转到地图插件页面
      wx.navigateTo({
        url: `plugin://chooseLocation/index?key=${key}&location=${location}&referer=${referer}&category=${category}`,
      });
    },
  },
};
</script>

<style></style>
