<template>
	<view class="view">
		<view class="view-user">
			<text>手机号：</text><input class="input" type="text" placeholder="输入手机号码" />
		</view>
		<view class="view-pass">
			<text>验证码：</text> <input class="input1" type="text" placeholder="输入验证码" /><text style="color: chartreuse;">获取验证码</text>
		</view>
		<button class="button">确定</button>
	</view>
</template>
<script>
	export default {
       
	}
</script>

<style>
	* {
		padding: 0;
		margin: 0;
		list-style: none;
		box-sizing: border-box;
	}

	html,
	body,
	.view {
		width: 100%;
		height: 100%;
		background: #f5f5f5;
	}
	.view-user{
		width: 100%;
		height: 60px;
		background-color: #fff;
		margin-top: 10px;
		display: flex;
		line-height: 60px;
		padding-left: 20px;
	}
	.input{
		width: 200px;
		height: 60px;
	}
	.view-pass{
		width: 100%;
		height: 60px;
		background-color: #fff;
		margin-top: 5px;
		display: flex;
		line-height: 60px;
		padding-left: 20px;
	}
	.input1{
		width: 250px;
		height: 60px;
	}
	.button{
		margin-top: 30px;
		background: #ccc;
		color: #fff;
		border-radius: 20px;
	}
</style>
