/<template>
  <view class="search">
    <view class="head">
      <uni-search-bar
        @confirm="search"
        :focus="true"
        :v-model="searchValue"
        @blur="blur"
        @focus="focus"
        @input="input"
        @cancel="cancel"
        @clear="clear"
      >
      </uni-search-bar>
    </view>
    <view class="hot_search">
      <h3>热门搜索</h3>
      <view class="hot_list">
        <li v-for="(item, index) in hotsearchList" :key="index">
          <span @click="sou(item.title)">
            {{ item.title }}
          </span>
        </li>
      </view>
    </view>
    <view class="history_search">
      <h3 class="h3">
        <span>历史搜索</span
        ><uni-icons
          type="trash"
          size="30"
          class="del"
          @click="delList"
        ></uni-icons>
      </h3>
      <view class="history_list">
        <span v-for="(item,index) in searchList" :key="index" @click="sou(item)">{{item}}</span>
      </view>
    </view>
  </view>
</template>

<script>
import { hot_searchList } from "@/services/index.js";
export default {
  data() {
    return {
      hotsearchList: [],
      searchValue: "",
      searchList: []
    }
  },
  onShow () {
    if(uni.getStorageSync("searchList") === ""){
      this.searchList = []
    }else{
      this.searchList =  JSON.parse(uni.getStorageSync("searchList"));
    }
  },
  onLoad() {
    // this.h=history.split(',')
    this.getHotSearchList();
    // console.log(h,"955");
  },
  methods: {
    cancel(res) {
      uni.navigateBack({
        delta: 1,
      });
    },
    search(res) {
      this.searchList.push(res.value);
      uni.setStorageSync(
        "searchList",
        JSON.stringify([...new Set(this.searchList)])
      );
      uni.navigateTo({
        url: "/pages/searchPage/index?searchValue="+res.value,
      });
    },
    input(res) {
      console.log("----input:", res);
    },
    sou(title) {
      console.log(title, "title");
      this.searchList.push(title);
      uni.setStorageSync(
        "searchList",
        JSON.stringify([...new Set(this.searchList)])
      );
      this.searchValue = title;
         uni.navigateTo({
        url: "/pages/searchPage/index?searchValue="+title,
      });
    },
    delList() {
      uni.removeStorageSync('searchList');
      this.searchList=[];
    },
    focus(e) {
      console.log(e, "eee");
    },
    async getHotSearchList() {
      const res = await hot_searchList({
        number: 10,
        shopId: 1,
        sort: 1,
      });
      this.hotsearchList = res;
    },
  },
};
</script>

<style lang="scss" scoped>
.search {
  height: 100%;
  width: 100%;
  .head {
    height: 100rpx;
    width: 100%;
    // background: red;
    border-bottom: 2rpx solid #eee;
    // padding: 10px;
    .find {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20rpx;
      img {
        height: 30rpx;
        width: 30rpx;
        position: absolute;
        left: 60rpx;
        top: 54rpx;
      }
      input {
        height: 100%;
        width: 70%;
        height: 60rpx;
        background: rgb(247, 247, 247);
        border-radius: 60rpx 60rpx;
        padding-left: 60rpx;
        margin-left: 10rpx;
        margin-top: 20rpx;
        font-size: 26rpx;
      }
      span {
        margin-top: 26rpx;
        color: red;
      }
    }
  }
  .hot_search {
    min-height: 300rpx;
    // display: flex;
    width: 100%;
    border-bottom: 2rpx solid #ccc;
    display: flex;
    flex-direction: column;
    h3 {
      color: rgb(106, 103, 103);
      margin: 30rpx;
      height: 60rpx;
      // border-bottom: 1px solid #eee;
    }
    .hot_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: left;
      span {
        display: block;
        background: #eee;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        font-size: 14px;
        margin: 10px;
      }
    }
  }
  .history_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    .h3 {
      color: rgb(106, 103, 103);
      margin: 30rpx;
      display: flex;
      justify-content: space-between;
    }
    .history_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: left;
      span {
        // height: 30px;
        // width: 100px;
        display: block;
        background: #eee;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        font-size: 14px;
        margin: 10px;
      }
    }
  }
}
</style>