<template>
	<view class="view">
		<view class="live" v-for="(item,index) in roomList" @click="handleLive(item.roomid)" :key="index">
			<view :class="{end:item.end_time<Date.now()}">
				<view>
					<image :src="item.feeds_img" mode=""></image>
					<p style="padding-left: 10px;padding-top: 10px;">开播：{{item.start_time}}</p>
					<p style="padding-left: 10px;padding-top: 10px;">{{item.name}}</p>
					<p style="padding-top: 10px;"> <text class="zhu">主播</text>
						<text class="name">{{item.anchor_name}}</text>
					</p>
				</view>
			</view>
		</view>
	</view>
</template>
<script>
	export default {
		data() {
			return {
				roomList: []
			}
		},
		async onLoad() {
			try {
				console.log(this.$cloud);
				const cloud = await this.$cloud;
				const {
					result
				} = await cloud.callFunction({
					name: "liveroom"
				})
				console.log(result);
				this.roomList = result.body.room_info
			} catch (error) {
				console.error(error);
			}

		},
		methods: {
			handleLive(id) {
				console.log(111);
				let customParams = encodeURIComponent(
					JSON.stringify({
						path: "pages/liver/index",
						pid: 1
					})
				); // 开发者在直播间页面路径上携带自定义参数（如示例中的 path 和pid参数），后续可以在分享卡片链接和跳转至商详页时获取，详见【获取自定义参数】、【直播间到商详页面携带参数】章节（上限600个字符，超过部分会被截断）
				uni.navigateTo({
					url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${id}&custom_params=${customParams}`,
				});
			},
		},

	}
</script>

<style>
	.end:before {
		content: "直播已结束";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.view {
		width: 100%;
		height: 100%;
	}

	.live {
		width: 45%;
		background: #f5f5f5;
		float: left;
		margin-left: 9px;
		margin-top: 20px;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
	}

	.live image {
		width: 100%;
		height: 130px;
		border-radius: 20px 20px 0 0;
	}

	.live p {
		font-size: 12px;
	}

	.zhu {
		display: inline-block;
		width: 33px;
		height: 30px;
		background-color: aquamarine;
		line-height: 30px;
		text-align: center;
		border-radius: 15px;
	}

	.name {
		line-height: 30px;
		padding-left: 5px;
	}

	.example-body {
		padding: 10px;
	}

	.scroll-view {
		/* #ifndef APP-NVUE */
		width: 100%;
		height: 100%;
		/* #endif */
		flex: 1
	}

	.scroll-view-box {
		flex: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.info {
		padding: 15px;
		color: #666;
	}

	.info-text {
		font-size: 14px;
		color: #666;
	}

	.info-content {
		padding: 5px 15px;
	}

	.close {
		padding: 10px;
	}

	.uni {
		width: 100%;
		height: 100%;
		background: #ccc;
	}
</style>
